// eDem Colors
$color-edem-red: #ff6655;
$color-edem-yellow: #eecc33;
$color-edem-action: #339966;
$color-edem-highlight: #aadd88;
$color-edem-main: #114433;
$color-edem-dark: #002222;

// Theme
// $color-primary: #092b2a;
// $color-primary-light: #133837;
// $color-primary-xlight: #235643;
// $color-primary-xxlight: #09a67c;
// $color-primary-xxhighlight: #08916d;
$color-primary: $color-edem-dark;
$color-primary-light: $color-edem-main;
$color-primary-xlight: mix(#fff, $color-edem-main, 10%);
$color-primary-xxlight: $color-edem-action;
$color-primary-xxhighlight: mix(#fff, $color-edem-action, 10%);

$color-secondary: #11496c;

$color-accent: $color-edem-yellow;
$color-accent-highlight: mix(#fff, $color-edem-yellow, 10%);
$color-accent-secondary: #46c4fc;
$color-footer: #213d4d;
$color-link: #3798c8;

// Calendar
$color-calendar-weekday-default: #2974a3;
$color-calendar-weekday-today: #d75142;
$color-calendar-weekday-tomorrow: #eea32b;

// Extra
$color-live-blink: #f33;
$color-countdown-halfway: #f50;
$color-countdown-finishing: #e10;

// Social colors
$color-facebook: #3b5998;
$color-google: #dc4e41;
$color-twitter: #55acee;
$color-whatsapp: #25d366;
