// Theme
$color-primary: #092b2a;
$color-primary-light: #133837;
$color-primary-xlight: #235643;
$color-primary-xxlight: #09a67c;

$color-secondary: #11496c;

$color-accent: #fbc707;
$color-accent-secondary: #46c4fc;
$color-footer: #213d4d;
$color-link: #3798c8;

// Calendar
$color-calendar-weekday-default: #2974a3;
$color-calendar-weekday-today: #d75142;
$color-calendar-weekday-tomorrow: #eea32b;

// Extra
$color-live-blink: #f33;

// Black & White
$color-black: #000;
$color-white: #fff;

// Gray
$color-gray-98: hsl(0, 0, 98%);
$color-gray-96: hsl(0, 0, 96%);
$color-gray-92: hsl(0, 0, 92%);
$color-gray-90: hsl(0, 0, 90%);
$color-gray-84: hsl(0, 0, 84%);
$color-gray-80: hsl(0, 0, 80%);
$color-gray-66: hsl(0, 0, 66%);
$color-gray-60: hsl(0, 0, 60%);
$color-gray-55: hsl(0, 0, 55%);
$color-gray-45: hsl(0, 0, 45%);
$color-gray-40: hsl(0, 0, 40%);
$color-gray-32: hsl(0, 0, 32%);
$color-gray-25: hsl(0, 0, 25%);
$color-gray-3: hsl(0, 0, 3%);

// Shadow
$color-shadow-1: rgba(0, 0, 0, .1);
$color-shadow-12: rgba(0, 0, 0, .12);
$color-shadow-16: rgba(0, 0, 0, .16);
$color-shadow-23: rgba(0, 0, 0, .23);
$color-shadow-24: rgba(0, 0, 0, .24);

// Social colors
$color-facebook: #3b5998;
$color-google: #dc4e41;
$color-twitter: #55acee;
$color-whatsapp: #25d366;
