$font-family-base: 'Roboto', Helvetica, sans-serif;

$font-size-hecto: 24px;
$font-size-deca: 18px;
$font-size-base: 14px;
$font-size-deci: 12px;
$font-size-centi: 10px;

$font-weight-hairline: 100;
$font-weight-x-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
