{% load staticfiles %}

<div class="edem-sidebar">

  <div class="stick">
    <span class="close" role="button"></span>

    <h1 class="header">Entrar</h1>

    <a class="button -social -facebook" href="/account/social/login/google-oauth2/?next={{ request.path }}">
      Entrar Com Facebook
    </a>
    <a class="button -social -google" href="/account/social/login/google-oauth2/?next={{ request.path }}">
      Entrar Com Google
    </a>

    <div class="access">
      <div class="form-field">
        <input class="input JS-form-input" id="id_username" name="username">
        <label class="label" for="password"><span class="labeltext">Endereço de email</span></label>
        <p class="error JS-input-error" data-input-name="username" hidden></p>
      </div>

      <div class="form-field">
        <input class="input JS-form-input" id="id_password" name="password" type="password">
        <label class="label" for="password"><span class="labeltext">Senha</span></label>
        <a class="action -input JS-field-action-password" role="button">Mostrar Senha</a>
        <p class="error JS-input-error" data-input-name="password" hidden></p>
      </div>
    </div>

    <button class="button">Entrar</button>

  </div>
</div>
