asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==0.24.0
attrs==19.1.0
autobahn==20.12.3
Automat==0.7.0
certifi==2019.6.16
cffi==1.12.3
channels==1.1.8
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
daphne==1.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==1.11.23
django-appconf==1.0.3
django-bower==5.2.0
django-channels-presence==0.0.9
django-compressor==2.3
django-compressor-toolkit==0.6.0
django-constance==2.4.0
django-cors-headers==3.1.0
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-filter==2.2.0
django-js-reverse==0.9.1
django-libsass==0.7
django-macros==0.4.0
django-picklefield==2.0
djangorestframework==3.10.2
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
libsass==0.19.2
msgpack-python==0.5.6
oauthlib==3.1.0
psycopg2-binary==2.8.3
pycparser==2.19
pycrypto==2.6.1
PyHamcrest==1.9.0
PyJWT==1.7.1
python-dateutil==2.8.0
python-decouple==3.1
python3-openid==3.1.0
pytz==2020.1
rcssmin==1.0.6
redis==2.10.6
requests==2.22.0
requests-oauthlib==1.2.0
rjsmin==1.1.0
rules==2.1
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
urllib3==1.25.3
zope.interface==4.6.0
