Django>=1.10.1
django-debug-toolbar>=1.5
python-decouple>=3.0
dj-database-url>=0.3.0
requests>=2.9.1
djangorestframework>=3.3.3
django-cors-headers>=1.1.0
Scrapy>=1.1.3
scrapy-djangoitem>=1.1.1
django-filter>=0.15.2
django-crispy-forms>=1.6.0
django-bower>=5.2.0
django-compressor>=2.1
django-libsass>=0.7
django-q>=0.7.18