{% extends "components/base.html" %}

{% block main %}
<main class="registration--login">
  {% if form.errors %}
  <div class="registration-error callout alert" data-closable>
    <h5>{{form.non_field_errors}}</h5>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <script>
    setTimeout(function() { $('.registration-error .close-button').click(); }, 10000);
  </script>
  {% endif %}

  <div class="registration-wrapper">
    <h1 class="registration__title">Login</h1>

    <form class="registration__form" action="{% url 'login' %}" method="POST" class="form">
      {% csrf_token %}

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-user"></i>
        </label>
        <input class="fieldset__input" type="text" name="username" placeholder="Nome de usuário" required>
      </div>

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-lock"></i>
        </label>
        <input class="fieldset__input" type="password" name="password" placeholder="Senha" required>
      </div>

      <input type="hidden" name="next" value="{{ next }}" />

      <button class="form__btn">Entrar</button>

      <div class="form__links">
        <span class="links__item">
          <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
        </span>
        <span class="links__item">
          <span>Não possui cadastro? </span>
          <a href="{% url 'signup' %}">Cadastre-se aqui!</a>
        </span>
      </div>

      <div class="form__social">
        <a class="social__btn--facebook" href="{% url 'social:begin' backend='facebook' %}">
          <span class="btn__icon">
            <i class="icon icon-facebook"></i>
          </span>
          <span class="btn__label">Entrar com Facebook</span>
        </a>

        <a class="social__btn--google" href="{% url 'social:begin' backend='google-oauth2' %}">
          <span class="btn__icon">
            <i class="icon icon-google-plus"></i>
          </span>
          <span class="btn__label">Entrar com Google</span>
        </a>
      </div>
    </form>
  </div>
</main>
{% endblock %}
