{% extends "components/base.html" %}

{% block main %}
<section class="section section--auth">
  <div class="row align-center">
    <div class="section__block section__block--title columns small-12 medium-9 large-7">
      <div class="section__content">
        <h1 class="section__title">Recuperar senha</h1>
        <p class="section__text section__text--signup">
          Esqueceu sua senha? Digite seu email abaixo, e enviaremos instruções para redefinir sua senha.
        </p>
      </div>
    </div>
  </div>
  <div class="row align-center">
    <div class="section__block columns small-12 medium-9 large-7">
      {% if form.errors %}
        <div class="section__block section__block--error">
          {{form.non_field_errors}}
        </div>
      {% endif %}
      <form action="{% url 'password_reset' %}" method="POST" class="form">
        {% csrf_token %}
        <label class="form__input-wrapper input-group">
          <i class="form__icon icon icon-envelope input-group-label" aria-hidden="true"></i>
          <span class="show-for-sr">Email</span>
          <div class="form__input-container">
            <input type="text" class="form__input input input-group-field" name="email" placeholder="Email" required>
          </div>
        </label>
        <button class="button expanded button--expanded">Enviar</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}