{% extends "components/base.html" %}

{% block main %}
<main class="registration--reset-form">
  {% if form.errors %}
  <div class="registration-error callout alert" data-closable>
    {% for field in form %}
    <h5>{{field.errors}}</h5>
    {% endfor %}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <script>
    setTimeout(function() { $('.registration-error .close-button').click(); }, 10000);
  </script>
  {% endif %}

  <div class="registration-wrapper">
    <h1 class="registration__title">Recuperar senha</h1>
    <p class="registration__text">
      Esqueceu sua senha? Digite seu email abaixo, e enviaremos instruções para redefinir sua senha.
    </p>

    <form class="registration__form" action="{% url 'password_reset' %}" method="POST">
      {% csrf_token %}

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-envelope"></i>
        </label>
        <input class="fieldset__input" type="text" name="email" placeholder="Email" required>
      </div>

      <button class="form__btn">Recuperar senha</button>
    </form>
  </div>
</main>
{% endblock %}
