{% extends "components/base.html" %}

{% block main %}
<section class="section section--auth">
  <div class="row align-center">
    <div class="section__block section__block--title columns small-12 medium-9 large-7">
      <div class="section__content">
        <h1 class="section__title">Email enviado</h1>
        <p class="section__text section__text--signup">
          Enviamos as instruções de como definir sua nova senha para o e-mail que você informou.
        </p>
        <p class="section__text section__text--signup">
          Você deverá recebê-las em breve.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}