{% extends "components/base.html" %}
{% block title %}Alteração de senha{% endblock %}
{% load i18n static %}
{% block main %}

  {% if form.errors %}
    <div class="callout alert" data-closable>
      <h5>
        {% if form.errors.items|length == 1 %}
          Por favor corrija o erro abaixo.
        {% else %}
          Por favor corrija os erros abaixo.
        {% endif %}
      </h5>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <section class="section section--change-password">
    <div class="e-row align-center">
      <div class="section__block section__block--title e-columns small-12 medium-8 large-6">
        <div class="section__content">
          <h1 class="section__title">Altere sua Senha</h1>
          <p class="section__text">
          Insira sua senha atual e digite uma nova senha desejada nos campos abaixo
          </p>
        </div>
      </div>
    </div>

    <div class="e-row align-center">
      <div class="e-columns small-12 medium-8 large-6">
        <form class="form" method="post" action="{% url 'colab_edemocracia:password_change' %}">{% csrf_token %}

          <label class="form__input-wrapper input-group {% if form.old_password.errors %}is-invalid-label{% endif %}">

            <i class="form__icon icon icon-lock input-group-label" aria-hidden="true"></i>
            <span class="show-for-sr">Senha Atual</span>
            <div class="form__input-container">

              <input class="form__input input input-group-field {% if form.old_password.errors %}is-invalid-input{% endif %}" type="password" id="id_old_password" name="old_password" value="{{ form.old_password.value|default_if_none:"" }}" placeholder="Senha Atual" required/>

              {% if form.old_password.errors %}
                <div class="form__error form-error is-visible">
                  <span class="form__error-message">{{ form.old_password.errors.as_text }}</span>
                  <i class="form__error-icon icon icon-e-arrow-circle-left"></i>
                </div>
              {% endif %}

            </div>
          </label>

          <label class="form__input-wrapper input-group {% if form.new_password1.errors %}is-invalid-label{% endif %}">

            <i class="form__icon icon icon-lock input-group-label" aria-hidden="true"></i>
            <span class="show-for-sr">Nova Senha</span>
            <div class="form__input-container">

              <input class="form__input input input-group-field {% if form.new_password1.errors %}is-invalid-input{% endif %}" type="password" id="id_new_password1" name="new_password1" value="{{ form.new_password1.value|default_if_none:"" }}" placeholder="Nova Senha" required/>

              {% if form.new_password1.errors %}
                <div class="form__error form-error is-visible">
                  <span class="form__error-message">{{ form.new_password1.errors.as_text }}</span>
                  <i class="form__error-icon icon icon-e-arrow-circle-left"></i>
                </div>
              {% endif %}

            </div>
          </label>

          <label class="form__input-wrapper input-group {% if form.new_password2.errors %}is-invalid-label{% endif %}">

            <i class="form__icon icon icon-lock input-group-label" aria-hidden="true"></i>
            <span class="show-for-sr">Redigite a Nova Senha</span>
            <div class="form__input-container">

              <input class="form__input input input-group-field {% if form.new_password2.errors %}is-invalid-input{% endif %}" type="password" id="id_new_password2" name="new_password2" value="{{ form.new_password2.value|default_if_none:"" }}" placeholder="Redigite a Nova Senha" required/>

              {% if form.new_password2.errors %}
                <div class="form__error form-error is-visible">
                  <span class="form__error-message">{{ form.new_password2.errors.as_text }}</span>
                  <i class="form__error-icon icon icon-e-arrow-circle-left"></i>
                </div>
              {% endif %}

            </div>
          </label>

          <button class="button expanded button--expanded">Alterar minha senha</button>
        </form>
      </div>
    </div>
  </section>

{% endblock %}