{% extends "components/base.html" %}

{% block main %}
<main class="registration--signup">
  {% if errors %}
  <div class="registration-error callout alert" data-closable>
    {% for error in errors %}
    <h5>{{error}}</h5>
    {% endfor %}
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <script>
    setTimeout(function() { $('.registration-error .close-button').click(); }, 10000);
  </script>
  {% endif %}

  <div class="registration-wrapper">
    <h1 class="registration__title">Cadastro</h1>

    <form class="registration__form" action="{% url 'signup' %}" method="POST">
      {% csrf_token %}

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-user"></i>
        </label>
        <input class="fieldset__input" type="text" name="username" placeholder="Nome de usuário" required>
      </div>

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-user"></i>
        </label>
        <input class="fieldset__input" type="text" name="first_name" placeholder="Nome">
      </div>

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-user"></i>
        </label>
        <input class="fieldset__input" type="text" name="last_name" placeholder="Sobrenome">
      </div>

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-envelope"></i>
        </label>
        <input class="fieldset__input" type="email" name="email" placeholder="Email" required>
      </div>

      <div class="form__fieldset">
        <label class="fieldset__label">
          <i class="icon icon-lock"></i>
        </label>
        <input class="fieldset__input" type="password" name="password" placeholder="Senha" required>
      </div>

      <input type="hidden" name="next" value="{{ next }}" />

      <button class="form__btn">Cadastrar</button>
    </form>
  </div>
</main>
{% endblock %}
