[class^="send-form--"] {
  align-items: center;
  background-color: $color-gray-92;
  display: flex;
  flex-shrink: 0;
  height: 80px;
  padding: 1em;
  z-index: 1;

  @include breakpoint(medium down) {
    bottom: 0;
    position: fixed;
    width: 100vw;
    z-index: 10;
  }

  .send-form__input {
    margin: 0;
    resize: none;
  }

  .send-form__actions {
    margin: 0 0 0 .5em;

    @include breakpoint(large up) {
      align-items: center;
      display: flex;
    }
  }

  .actions__character-counter {
    color: $color-white;
    display: flex;
    font-size: .8em;
    font-weight: 700;

    @include breakpoint(large up) {
      align-items: center;
      padding: 1em 1em 1em .5em;
    }

    .character-counter__max-length {
      color: $color-primary-xlight;
    }
  }

  .actions__button {
    background-color: $color-primary-xlight;
    border: 0;
    display: flex;
    margin: 0;
    padding: 1.3em .5em 1.3em 1em;
  }
}

.send-form--unauthenticated,
.send-form--closed {
  justify-content: center;

  span {
    font-size: 1em;
    font-weight: 600;
    padding: .5em;
  }

  a {
    color: $color-primary-xlight;
  }
}
