html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  min-height: 100%;

  @include breakpoint(small only) {
    margin-top: 3em;
  }

  // @include breakpoint(medium down) {
  //   height: 100vh;
  //   overflow: hidden;
  //   position: fixed;
  //   width: 100vw;
  // }
}
