html, body {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  margin: 0;
}