html {
  height: 100%;
  overflow-x: hidden;
  background-color: $color-edem-dark;
  color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

table {
  @include bp-smallonly {
    display: block;
    overflow-x: auto;
  }
}

i {
  display: inline-flex;
}

textarea {
  min-height: 35px;
}
