#olark-wrapper button.olark-launch-button {
  height: 32px !important;
  z-index: 999 !important;
  right: 350px !important;

  @include breakpoint(medium down) {
    display: none !important;
  }

  & > svg {
    width: 20px !important;
    height: 32px !important;
  }

  & > .olark-button-text {
    line-height: 30px !important;
    overflow: visible !important;
    font-size: 13px !important;
  }
}

#olark-wrapper div#olark-container {
  right: 350px !important;
}
