.edem-topbar {
  font-family: $font-family-main;
  min-height: $edem-topbar-height;
  width: 100%;

  > .stick {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $edem-topbar-height;
    background: linear-gradient(90deg, #114433 0%, #002222 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    z-index: 1000000;

    > .brand {
      display: inline-flex;
      align-items: center;
      height: 100%;
      background-image: url('../img/edem-bar-rainbow-small.png');
      background-size: auto 100%;
      background-position: left;
      background-repeat: no-repeat;
      padding-left: 6rem;

      @include bp-smallup {
        background-image: url('../img/edem-bar-rainbow-large.png');
        padding-left: 11.5rem;
      }

      @media screen and (max-width: 25.5rem) {
        margin-left: calc(100vw - 25.5rem);
      }

    }

    > .brand > .logo {
      height: 12px;
    }

    > .actions {
      display: flex;
      height: 100%
    }

    > .actions > .link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 0.625rem;
      color: white;
      font-size: $font-size-mili;
      font-weight: 700;
      text-transform: uppercase;
      user-select: none;
      transition: all 0.3s ease;
      cursor: pointer;

      @include bp-smallup {
        font-size: $font-size-centi;
        padding: 0 0.75rem;
      }

      &::after, &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        transition: transform 0.3s $swift-out;
        z-index: -1;
      }

      &::before {
        height: 2px;
        transform: scaleX(0);
        transform-origin: center;
      }

      &::after{
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
      }

      &:hover::before {
        transform: scaleX(1);
      }

      &.-highlight {
        color: $edem-color-secondary;

        &::after, &::before {
          background-color: $edem-color-secondary;
        }
      }

      &.-active {
        color: $edem-color-primary;
        &::after { transform: scaleY(1) }
        &:hover::after { transform: scaleY(0.85) }
      }
    }
  }
}
