.edem-button {
  @extend %button;
  background-color: $edem-color-accent;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 1rem;

  &.-negative {
    background-color: $edem-color-negative;
  }

  &.-social {
    padding-left: 3.5rem;
    padding-right: 1rem;

    @include bp-smallonly {
      padding-left: 3rem;
      padding-right: 0.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5rem;
      height: 100%;
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &.-facebook {
      background-color: $edem-color-facebook;
      color: #fff;
      &::before { background-image: url('../img/social-icon-facebook.svg') }
    }

    &.-google {
      background-color: $edem-color-google;
      color: hsl(0, 0, 50%);
      &::before { background-image: url('../img/social-icon-google.svg') }
    }
  }
}
