{% load video_utils %}

<li class="question-card" data-question-priority="{{question.is_priority}}" data-question-id="{{question.id}}" data-question-votes="{{question.votes_count}}">

  <div class="vote">
    <span class="number">{{question.votes_count}}</span>
    <span class="label">Votos</span>
  </div>

  <div class="meta">
    <span class="username">{{question.user}}</span>
    <span class="timestamp">{{question.created | date:'H:i d/m/Y'}}</span>
    <span class="answered">Respondida em 00:13:42</span>
  </div>

  <p class="question">{{question.question}}</p>

  <div class="actions">

    <label class="action -checkbox">
      <input class="checkbox" type="checkbox" name="answered">
      <span class="label">Pergunta Respondida</span>
    </label>

    <label class="action -checkbox">
      <input class="checkbox" type="checkbox" name="priority">
      <span class="label">Prioridade</span>
    </label>

    <div class="action -field">
      <span class="label">Respondida em:</span>
      <input class="field" type="text" name="timestamp" placeholder="00:00:00">
      <a class="send">Salvar</a>
    </div>

  </div>

</li>
