{% if room.youtube_status == 2 %}
  <button class="vote-block__upvote-button {{extra_classes}} {{question_vote}}" {{extra_attributes}}>{{upvote_content}}</button>
  <div class="vote-block__total-votes closed {{extra_classes}}">
    <span class="vote-block__total-count">{{total_votes}}</span><i class="vote-block__vote-icon icon icon-chevron-up"></i>
  </div>
{% else %}
  <button class="vote-block__upvote-button {{extra_classes}} {{question_vote}}" {{extra_attributes}}>{{upvote_content}}</button>
  <div class="vote-block__total-votes {{extra_classes}}">
    <span class="vote-block__total-count">{{total_votes}}</span><i class="vote-block__vote-icon icon icon-chevron-up"></i>
  </div>
{% endif %}
