{% load video_utils %}
<li class="list__item" id="{{question.id}}" data-question-id="{{question.id}}" data-question-author="{{author}}" data-question-votes="{{question.votes_count}}" data-question-path="{% url 'question_detail' pk=question.id %}">

  <div class="item__question-block">
    <div class="question-block__info">
      <div class="info__timestamp">{{question.created | date:'H:i'}}</div>
      <span class="info__username">{{question.user}}</span>
    </div>



    <p class="question-block__text">{{question.question}}</p>

    {% if object.youtube_status == 2 and question.answer_time %}
      <a class="question-block__answered" href="{% url 'video_room' question.room.id %}?t={{question.answer_time}}">
        <span class="answered__text">Respondido em</span>
        <span class="answered__time">{{question.answer_time|format_seconds}}</span>
        <i class="answered__icon icon icon-check"></i>
      </a>
    {% endif %}

    {% if user|belongs_to_group:question.room.legislative_body_initials and object.youtube_status == 2 %}
      <form class="question-block__answered-form" method="POST" action="{% url 'set_question_answer' question_id=question.pk %}">
        {% csrf_token %}
        <span class="answered_time__label">Insira o tempo da resposta:</span>
        <input class="answered_time__input" name="answered_time" id="answered_time" type="text" placeholder="hh:mm:ss" value="{{question.answer_time|format_seconds}}" >
      </form>
    {% endif %}

    {% if object.youtube_status == 1 %}
      {% with user|belongs_to_group:question.room.legislative_body_initials as hide %}
        <form class="question-block__answered-form js-answered-form {% if not hide %}hide{% endif %}" method="POST" action="{% url 'set_question_answered' question_id=question.pk %}">
          <input class="answered_time__checkbox js-answered-checkbox" name="answered" type="checkbox" {% if question.answered %}checked{% endif %}>
          <span class="answered_time__label">Pergunta respondida</span>
        </form>
      {% endwith %}
    {% endif %}
  </div>

  <div class="item__action-block">
    {% if object.youtube_status != 2 %}
      <span class="question-block__share-button" role="button" title="Compartilhar esta pergunta">
        <i class="share-button__icon icon icon-share-alt"></i>
      </span>
    {% endif %}

    <ul class="question-block__share-list">
      <span class="share-list__close" role="button" title="Cancelar">
        <i class="icon icon-times"></i>
      </span>

      <li class="share-list__item--facebook ">
        <a class="item__link" data-social="facebook" target="_blank" title="Compartilhar pelo Facebook">
          <i class="item__icon icon icon-facebook"></i>
        </a>
      </li>

      <li class="share-list__item--twitter ">
        <a class="item__link" data-social="twitter" target="_blank" title="Compartilhar pelo Twitter">
          <i class="item__icon icon icon-twitter"></i>
        </a>
      </li>

      <li class="share-list__item--whatsapp ">
        <a class="item__link" data-social="whatsapp" target="_blank" title="Compartilhar pelo Whatsapp">
          <i class="item__icon icon icon-whatsapp"></i>
        </a>
      </li>
    </ul>

    <div class="item__vote-block">
      {% vote_action question user.username %}
    </div>
  </div>
</li>
