{% load video_utils %}
<li class="questions__item" data-question-id="{{question.id}}" data-question-author="{{author}}" data-question-votes="{{question.votes_count}}">
  <div class="questions__vote-block">
    {% vote_action question user.username %}
  </div>

  <div class="questions__question-block">
    <div class="questions__user-info"> <span class="questions__user-name">{{question.user}}</span>
      <div class="questions__timestamp"> {{question.created | date:'H:i'}}</div>
    </div>
    <p class="questions__user-question">{{question.question}}</p>
  </div>
</li>
