{% load video_utils %}
<li class="questions__item" data-question-id="{{question.id}}" data-question-author="{{author}}" data-question-votes="{{question.votes_count}}" data-question-path="{% url 'question_detail' pk=object.id %}">
  <div class="questions__vote-block">
    {% vote_action question user.username %}
  </div>

  <div class="questions__question-block">
    <div class="questions__user-info">
      <span class="questions__user-name">{{question.user}}
    </span>
      <div class="questions__timestamp"> {{question.created | date:'H:i'}}</div>
    </div>
    <p class="questions__user-question">{{question.question}}</p>

    <span class="questions__share-button" role="button" title="Compartilhar esta pergunta">
      <i class="questions__share-icon icon icon-share-alt"></i>
    </span>

    <ul class="questions__share-list">
      <li class="questions__share-item questions__share-item--facebook ">
        <a class="questions__share-link" target="_blank" title="Compartilhar pelo Facebook"><i class="questions__share-icon icon icon-facebook"></i></a>
      </li>
      <li class="questions__share-item questions__share-item--twitter ">
        <a class="questions__share-link" target="_blank" title="Compartilhar pelo Twitter"><i class="questions__share-icon icon icon-twitter"></i></a>
      </li>
      <li class="questions__share-item questions__share-item--whatsapp ">
        <a class="questions__share-link" target="_blank" title="Compartilhar pelo Whatsapp"><i class="questions__share-icon icon icon-whatsapp"></i></a>
      </li>
      <span class="questions__share-close" role="button" title="Cancelar"><i class="icon icon-times"></i></span>
    </ul>
  </div>
</li>
