.edem-sidebar {
  font-family: $font-family-main;
  position: absolute;
  width: $edem-sidebar-width;
  left: 100%;
  top: $edem-topbar-height;

  > .stick {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: $edem-sidebar-width;
    height: calc(100vh - #{$edem-topbar-height});
    padding: 2rem calc(1.5rem + 4vw);
    background-color: $edem-color-primary;
    overflow: auto;
    z-index: 100000;
  }

  > .stick > .content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    > .header {
      color: #fff;
      font-weight: 700;
      font-size: $font-size-kilo;
      line-height: 3rem;
      text-align: center;
      border-bottom: 4px solid $edem-color-accent;
    }

    > .access {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    > .button {
      @extend %button;
      background-color: $edem-color-accent;
      color: #fff;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5rem;

      &.-social {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3.5rem;
        padding-right: 1rem;
        margin: 0;
        margin-bottom: 0.5rem;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 2.5rem;
          height: 100%;
          background-size: 1.25rem;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &.-facebook {
          background-color: $edem-color-facebook;
          color: #fff;
          &::before { background-image: url('../img/social-icon-facebook.svg') }
        }

        &.-google {
          background-color: $edem-color-google;
          color: hsl(0, 0, 50%);
          &::before { background-image: url('../img/social-icon-google.svg') }
        }
      }
    }

    > .link {
      color: $edem-color-link;
      align-self: center;
      font-size: $font-size-centi;
      font-weight: 400;
    }
  }
}

body.-opensidebar {
  margin-left: calc(#{$edem-sidebar-width} * -1); // Calc to give the variable in negative value
}