.edem-sidebar {
  font-family: $font-family-main;
  position: absolute;
  width: $edem-sidebar-width;
  left: 100%;
  top: $edem-topbar-height;

  > .stick {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: $edem-sidebar-width;
    height: calc(100vh - #{$edem-topbar-height});
    padding: 2rem calc(1.5rem + 4vw);
    background-color: $edem-color-primary;
    overflow: auto;
    z-index: 100000;

    .closewrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;

      > .close {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;

        &::before, &::after {
          content: '';
          position: absolute;
          width: 1rem;
          height: 2px;
          background-color: $edem-color-link;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  > .stick > .content {
    display: none;
    flex-direction: column;
    flex: 1 0 auto;

    &.-show {
      display: flex;
    }

    > .header {
      color: #fff;
      font-weight: 700;
      font-size: $font-size-kilo;
      line-height: 3rem;
      text-align: center;
      border-bottom: 4px solid $edem-color-accent;
    }

    > .access {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      > .edem-button {
        margin-top: 1rem;
      }
    }

    > .link {
      color: $edem-color-link;
      align-self: center;
      font-size: $font-size-centi;
      font-weight: 400;
    }
  }
}

body.-sidebaropen {
  margin-left: calc(#{$edem-sidebar-width} * -1); // Calc to give the variable in negative value
  overflow: hidden;
  &::after {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: opacity 0.3s 0s ease, width 0s 0s, height 0s 0s;
  }
}