.edem-topbar {
  height: $edem-topbar-height;
  width: 100%;

  > .stick {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $edem-topbar-height;
    background: linear-gradient(90deg, #114433 0%, #002222 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    z-index: 1000000;

    > .brand {
      display: inline-flex;
      align-items: center;
      height: 100%;
      background-image: url('../img/edem-bar-rainbow-small.png');
      background-size: auto 100%;
      background-position: left;
      background-repeat: no-repeat;
      padding-left: 6em;

      @include bp-smallup {
        background-image: url('../img/edem-bar-rainbow-large.png');
        padding-left: 11.5em;
      }

      @media screen and (max-width: 25.5em) {
        margin-left: calc(100vw - 25.5em);
      }

    }

    > .brand > .logo {
      height: 12px;
    }

    > .actions {
      display: flex;
      height: 100%
    }

    > .actions > .link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 100%;
      padding: 0 0.625em;
      color: white;
      font-size: 0.625em;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s ease;

      @include bp-smallup {
        font-size: 0.75em;
        padding: 0 0.75em;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s $swift-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      &.-highlight {
        color: $edem-color-secondary;

        &::after {
          background-color: $edem-color-secondary;
        }
      }
    }
  }
}
