.edem-sidebar {
  position: absolute;
  width: $edem-sidebar-width;
  left: 100%;

  .stick {
    position: fixed;
    width: $edem-sidebar-width;
    height: 100vh;
    margin-top: 1.5em;
    padding: 0 calc(1.5em + 4vw);
    background-color: $edem-color-primary;
    z-index: 100000;
  }

  .header {
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-bottom: 4px solid $edem-color-accent;
  }
}

body.-opensidebar {
  margin-left: calc(#{$edem-sidebar-width} * -1); // Calc to give the variable in negative value
}