$input-height: 2rem;
$label-underline-height: 2px;

.form-field {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > .input {
    flex: 1;
    padding: 0 0.5rem;
    margin-bottom: $label-underline-height; // To compensate label underline height
    height: $input-height;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    z-index: 1;

    &:focus {
      background-color: transparent;
      color: #fff;
    }

    &:focus + .label {
      background-color: rgba($edem-color-accent, 0.6);
      color: $edem-color-link;
    }

    &:focus + .label::after {
      background-color: $edem-color-link;
      transform: scaleX(1);
      transition: transform 0.3s 0s $swift-out, background-color 0s ease;
    }
  }

  > .label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: $input-height;
    padding: 0 0.5rem;
    background-color: rgba($edem-color-accent, 0.3);
    color: rgba(#fff, 0.6);
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -$label-underline-height;
      left: 0;
      width: 100%;
      height: $label-underline-height;
      background-color: transparent;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0s 0.3s $swift-out, background-color 0.2s ease;
    }

    > .labeltext {
      transform-origin: -2rem -5.5rem;

      @at-root .-filled#{&} {
        animation: slideOut 0.3s forwards;
      }
    }
  }

  > .action {
    flex: 0 1 auto;
    padding-right: 0.5rem;
    margin-bottom: $label-underline-height; // To compensate label underline height
    color: $edem-color-link;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
  }

  > .error {
    flex: 1 0 100%;
    margin: 0;
    color: $edem-color-negative;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 0.25rem;
  }
}

@keyframes slideOut {
  35% {
    opacity: 0;
    transform: translate3d(1rem, 0, 0) scale(1);
  }
  50% {
    opacity: 0;
    transform: translate3d(-1rem, 0, 0) scale(0.75);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.75);
    font-weight: 700;
  }
}
