.social-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  font-size: $font-size-deci;
  font-weight: 600;
  text-align: center;

  &.-google {
    background-color: #fff;
    color: hsl(0,0,50%);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 2.5rem;
      height: 100%;
      background-image: url('../img/social-icon-google.svg');
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &.-facebook {
    background-color: $edem-color-facebook;
    color: #fff;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 2.5rem;
      height: 100%;
      background-image: url('../img/social-icon-facebook.svg');
      background-size: 1.25rem;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}