.action-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 5rem;
  background-color: $color-edem-action;
  padding: 1em;
  text-align: center;

  &.-closed {
    background-color: hsl(0,0,45%);
  }

  > * + * {
    margin-top: 0.5rem;
  }

  > button {
    cursor: pointer;
    padding: 0 2rem;
    height: 3rem;
    font-size: $font-size-deca;
    background-color: rgba(#fff, 0.9);
    color: $color-edem-action;
    transition: all .15s ease-in-out;
    user-select: none;

    @include bp-largedown {
      font-size: $font-size-base;
    }

    &:hover {
      background-color: #fff;
    }
  }

  > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    > .aud-button {
      margin-left: 0.5rem;
    }
  }

  > .info, > .wrapper > .info {
    display: block;
    font-size: $font-size-deca;
    color: #fff;

    @include bp-largedown {
      font-size: $font-size-base;
    }

    > .time {
    color: #fff;
      font-weight: $font-weight-bold;

      &.-halfway {
        color: $color-countdown-halfway;
      }

      &.-finishing {
        color: $color-countdown-finishing;
      }

      &.-done {
        color: inherit;
      }
    }

    > .link {
      cursor: pointer;
      color: rgba(#fff, 0.9);
      text-decoration: underline;

      &:hover {
        color: #fff;
      }
    }
  }

  > .form {
    display: flex;
    width: 100%;
  }

  > .form > .input {
    display: flex;
    align-items: center;
    font-size: $font-size-deci;
    line-height: 1.5em;
    width: 100%;
    height: 3rem;
    min-height: 0;
    padding: 0.5em;
    color: $color-edem-dark;
    resize: none;

    &::placeholder {
      opacity: .5;
    }
  }

  > .form > .actions > .button {
    @include icon('paper-plane');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 3rem;
    color: $color-edem-action;
    font-size: $font-size-hecto;
    background-color: rgba(#fff, 0.9);
    margin-left: 1px;
    overflow: hidden;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      flex: 1 0 auto;
      padding-right: 3px;
    }

    &:hover {
      background-color: #fff;
    }
  }
}