.aud-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color-edem-dark, 0.8);
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;

  &.-open {
    opacity: 1;
    pointer-events: auto;
  }

  > .modal {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    width: calc(20% + 16rem);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
    box-shadow: 0 8px 32px rgba(#000, 0.6);

    > .close {
      @include icon('times');
    }

  }

}
