.video {
  background-color: $color-primary;
  flex: 1;
  overflow-y: auto;
  padding: 0 2.75em;

  @include bp-mediumdown {
    padding: 0 1em;
  }

  .video__iframe-wrapper {
    height: 0;
    margin-bottom: 0.5em;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;

    @include bp-mediumdown {
      width: calc(100% + 2em);
      margin-left: -1em;
    }
  }

  .video__iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .video__status {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .status__transmission-text {
    align-items: center;
    color: white;
    display: flex;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  .status__live-icon {
    color: $color-live-blink;
    margin-right: 0.25em;
  }

  .status__counter {
    display: flex;
    justify-content: center;
    line-height: 1;
  }

  .status__counter-text {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }

  .status__counter-number {
    color: #09a67c;
    font-weight: 700;
    margin-right: 0.25em;
  }
}

.video__info-header {
  color: #ffffff;
  display: inline-flex;
  font-size: 1.25em;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;

  &::after {
    background-color: $color-accent;
    bottom: -0.25em;
    content: '';
    height: 0.2em;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.video__info-text {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.video--empty {
  align-items: center;
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: auto;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 0;

  .video--empty__message {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
  }

  .video--empty__icon {
    margin-bottom: 1em;
  }
}

.video .video__title,
.room-questions .video__title,
.room .video__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 6.5em;
  padding: 1.0725em 0;

  .title__secondary {
    color: $color-primary-xxlight;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;

    .secondary__text {
      margin-right: 0.5em;
    }

    .secondary__separator {
      color: $color-accent;
      margin-right: 0.5em
    }
  }

  .title__primary {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}