.button {
  font-weight: 600;

  &--facebook {
    background-color: $color-facebook;

    &:hover,
    & > .button--social__icon {
      background-color: darken($color-facebook, 5%);
    }
  }

  &--google-plus {
    background-color: $color-google;

    &:hover,
    & > .button--social__icon {
      background-color: darken($color-google, 5%);
    }
  }

  &--social {
    border: 0;
    position: relative;

    & > &__icon,
    & > &__label {
      display: inline-block;
      vertical-align: middle;
    }

    & > &__icon {
      font-size: 1.2em;
      height: 100%;
      left: 0;
      line-height: 2.8em;
      position: absolute;
      top: 0;
      width: 2.5em;
    }

    &__label {
      padding-left: 2.8em;
      text-align: center;
      width: 100%;
    }
  }

  &--profile {
    margin: 0 .5em;
    width: 100%;
  }

  &--type-override {
    height: .1px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .1px;
    z-index: -1;
  }

  &--label-override {
    margin: 0 0 1em 0 !important;
    vertical-align: top !important;
    word-break: break-all;
    // Damn you Foundation for making me use !important :(
  }

}

.show-all {
  border-top: 1px solid $color-gray-80;
  padding: 1em 0;
  text-align: center;

  &--video-list {
    margin: 0 3em;
  }

  &__button {
    color: $color-gray-40;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      color: $color-black;
    }
  }
}
