.calendar-table {
  font-size: 1.2em;
  margin-bottom: 0;

  &__body {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  &__column {
    padding-bottom: .6em;
    padding-top: .7em;

    &:first-child {
      font-weight: 600;
      width: 10em;
    }

    &:last-child {
      padding-right: 3em;
    }
  }

  &__event-title {
    font-weight: 400;
  }

  &__date-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 4em;
  }

  &__weekday {
    background-color: #2974a3;
    border-radius: 1em;
    color: #fff;
    font-size: .5em;
    font-weight: 600;
    min-width: 6.5em;
    padding: .3em 0;
    text-align: center;
    text-transform: uppercase;

    &--today {
      background-color: #d75142;
    }

    &--tomorrow {
      background-color: #eea32b;
    }
  }

  &__day {
    color: #404040;
    font-weight: 700;
  }

  &__month {
    color: #404040;
    font-size: .8em;
    font-weight: 400;
  }

  &__hour {
    font-size: .9em;
    font-weight: 600;
    margin-top: .3em;
  }
}
