.chat {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 3em 2em 3.5em;
  position: relative;
}

.chat__floating-header {
  background-color: $secondary-color;
  margin: 0 1em;

  .header__icon {
    border: .2em solid;
    border-radius: 50%;
    padding: .4em;
  }
}

.chat__messages {
  flex: 1;
  margin-top: -2.7em;
  overflow-y: auto;
  padding-top: 1.5em;
  position: relative;

  .messages__list {
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    word-break: break-word;
  }

  .list__item {
    padding: .5em 1em;

    &:nth-child(odd) {
      background-color: #fafafa;
    }

    .item__username {
      font-weight: 700;
    }

    .item__colon {
      margin-left: -.2em;
    }

    .item__timestamp {
      color: #737373;
      font-size: .7em;
      font-weight: 400;
      word-break: break-word;
    }
  }
}

.chat__read-more {
  @include transition-default(transform);
  background-color: rgba(9, 166, 124, .85);
  bottom: 5.7em;
  color: #fff;
  cursor: pointer;
  font-size: .9em;
  font-weight: 600;
  padding: .45em 0;
  position: absolute;
  text-align: center;
  transform: translateY(110%);
  width: 100%;
  z-index: 0;

  &:hover {
    text-decoration: underline;
  }
}
