.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;

  &__input-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__input-wrapper {
    margin: 0 .5em 1em;

    &--medium {
      max-width: 17em;

      @include breakpoint(small only) {
        max-width: initial;
      }

      @include breakpoint(medium only) {
        max-width: 14em;
      }
    }

    &--small {
      max-width: 14em;

      @include breakpoint(small only) {
        max-width: initial;
      }
    }

    &--micro {
      max-width: 10em;

      @include breakpoint(small only) {
        max-width: initial;
      }

      @include breakpoint(medium only) {
        max-width: 14em;
      }
    }
  }

  &__input {
    width: inherit;
    @include transition-default(all);

    &--date {
      display: block;
    }

    &:invalid {
      color: $color-gray-66;
    }

    &:focus {
      @include transition-default(all);
    }

    &.is-invalid-input {
      background-color: scale-color($alert-color, $lightness: 75%);
      color: $primary-color;
    }
  }

  &__error {
    align-items: center;
    background-color: scale-color($alert-color, $lightness: 20%);
    color: $color-white;
    display: flex;
    height: 100%;
    justify-content: space-between;
    left: 0;
    margin: 0;
    padding: 0 .5em;
    position: absolute;
    top: 0;
    transform: translate(0, -100%);
    visibility: hidden;
    width: 100%;

    &.is-visible {
      @include transition-default(transform);
      display: flex !important;
      visibility: visible;
      transform: translateY(0);
    }

    .form__input-wrapper:hover &.is-visible {
      transform: translate(-100%, 0);
    }
    .form__input:focus ~ &.is-visible {
      transform: translate(-100%, 0);
    }
  }

  &__error-message {
    font-size: .62em;
  }

  &__error-icon {
    font-size: 1.4em;
  }


  &__select-option {
    color: $color-gray-3;
  }

  &__form-wrapper {
    flex: 1 0 100%;
    transition: transform 0s 0s $swift-out;


    &.inactive {
      opacity: .1;
      order: 1;
      transform: translateX(120%);
      transition: transform 0s 0s $swift-out, opacity .5s 0s ease;
    }

    &.active {
      opacity: 1;
      order: 0;
      transform: translateX(0);
      transition: transform .5s .2s $swift-out, opacity .5s .4s ease;
    }

    &.transition {
      opacity: .1;
      transform: translateX(-120%);
      transition: transform .5s 0s $swift-out, opacity .5s 0s ease;
    }

  }
}
