.navigation {
  align-items: center;
  background-color: $color-primary;
  box-shadow: 0 3px 6px $color-shadow-16, 0 1px 4px $color-shadow-23;
  display: flex;
  height: 4em;
  top: 4em;
  transition: transform $swift-out .3s;
  width: 100vw;
  z-index: 10000;

  @include breakpoint(small down) {
    height: 3em;
  }

  @include breakpoint(small down) { padding: 0 1em; }
  @include breakpoint(medium only) { padding: 0 2em; }
  @include breakpoint(large only) { padding: 0 2em 0 2.5em; }
  @include breakpoint(xlarge up) { padding: 0 2em 0 5em; }

  .navigation__logo {
    margin-right: auto;
  }

  .logo__image--audiencias-logo {
    height: 2.5em;

    @include breakpoint(small down) {
      height: 1.8em;
    }
  }

  .logo__image--audiencias-text {
    height: 1.5em;
    margin-left: .8em;

    @include breakpoint(small down) {
      display: none;
    }
  }

  .navigation__auth {
    align-items: center;
    color: $color-white;
    display: flex;
    font-weight: 600;
    height: 100%;
    padding: .75em;
    transition: $hover-transition;

    &:hover {
      background-color: darken($color-primary, 3%);
    }
  }

  .auth__text {
    margin-right: 1em;
  }

  .auth__icon {
    font-size: 1.4em;
  }
}

@mixin transition-default($property) {
  transition: $property 0.3s $swift-out;
}

@mixin material-shadow($depth) {
  @if $depth < 1 {
    box-shadow: none;
    transition: box-shadow 0.3s $swift-out;
  }
  @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `material-shadow`.";
  }
  @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
    transition: box-shadow 0.3s $swift-out;
  }
}

.edem-navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #0d2625 0%, #134836 100%);
  height: 4em;
  padding: 0 2.5em;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  z-index: 10000;
  @include transition-default(transform);

  body.headroom--unpinned & {
    transform: translateY(-100%);
  }

  @media screen and (max-width: 39.9375em) {
    height: 3em;
    padding: 0;
  }

  .navigation-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    @include transition-default(transform);

    @media screen and (max-width: 39.9375em) {
      position: absolute;
      top: 3em;
      left: 0;
      width: 16em;
      height: calc(100vh - 3em);
      flex-direction: column;
      justify-content: flex-start;
      background: linear-gradient(105deg, #0d2625 0%, #134836 100%);
      transform: translateX(-100%);
      box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.16), 1px 4px 4px rgba(0, 0, 0, 0.23);

      &.toggled {
        transform: translateX(0);
      }
    }
  }

  .logo--navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    opacity: 1;
    @include transition-default(opacity);

    @media screen and (max-width: 39.9375em) {
      .navigation.search-on & {
        opacity: 0;
      }
    }
  }

  .logo--navigation .logo__image {
    height: 2.5em;

    @media screen and (max-width: 39.9375em) {
      height: 1.8em;
    }
  }

  .logo__name--edemocracia .logo__image {
    height: 1.5em;
    margin-left: 0.8em;

    @media screen and (max-width: 39.9375em) {
      height: 1.25em;
    }
  }

  .logo--menu-list .logo__image {
    height: 1.75em;
  }

  .logo--menu-list {
    @media screen and (max-width: 39.9375em) {
      width: 3em;
      text-align: center;
      margin-right: 0.5em;
    }
  }

  .search-form {
    $root: &;
    position: relative;
    transform-origin: 50% 100%;
    width: 4em;
    height: 100%;
    margin: 0;
    cursor: pointer;
    transition: width 0.5s 0s $swift-out, background-color 0.3s $swift-out;

    &:hover {
      background-color: darken(#134836,5%);
    }

    &.focused, &.opened {
      width: 15em;
      background-color: darken(#134836,5%);
      cursor: default;
    }

    &__input {
      background: transparent;
      color: white;
      border: 0;
      width: 0;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-weight: 300;
      font-size: 0.9em;


      &::placeholder {
        color: #63717f;
      }

      &:focus {
        background: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
      }
    }

    &.focused .search-form__input, &.opened .search-form__input {
      padding: 0 4em 0 1em;
      width: 100%;
    }

    &__icon {
      position: absolute;
      color: white;
      font-size: 1.4em;
      top: 50%;
      right: 1em;
      transform: translateY(-50%);
      display: flex;
    }
  }

  .menu-list {
    display: flex;
    align-self: stretch;
    list-style: none;
    margin: 0;
    @include transition-default(background-color);

    &:hover, &.toggled {
      background-color: darken(#134836,5%);

      @media screen and (max-width: 39.9375em) {
        background-color: transparent;
      }
    }

    &__icon {
      font-size: 1.4em;
      color: white;
      @media screen and (max-width: 39.9375em) {
        display: none;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 4em;
      @include transition-default(background-color);
      cursor: pointer;

      &:hover {
        background-color: darken(#134836,5%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-weight: 600;
      padding: 0.75em;
      color: white;

      &:hover {
        color: white;
      }

      @media screen and (max-width: 39.9375em) {
        justify-content: flex-start;
      }
    }

    &__text {
      margin-right: 1em;
      color: white;
    }
  }


  .menu-list--dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4em;
    padding: 0;
    position: relative;
    cursor: pointer;

    .menu-list__link {
      justify-content: center;

      @media screen and (max-width: 39.9375em) {
        justify-content: flex-start;
      }
    }

    &__wrapper {
      position: absolute;
      display: none;
      left: auto;
      right: 0;
      top: 100%;
      margin-top: 0.5em;
      flex-direction: column;
      background-color: #245d49;
      color: white;
      white-space: nowrap;
      @include material-shadow(3);

      &::before {
        position: absolute;
        bottom: 100%;
        right: 1.5em;
        @include css-triangle(0.5em, #245d49, up);

        @media screen and (max-width: 39.9375em) {
          display: none;
        }
      }

      &.toggled {
        display: flex;
      }

      @media screen and (max-width: 39.9375em) {
        position: relative;
        display: flex;
        margin: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
      }
    }

    @media screen and (max-width: 39.9375em) {
      width: 100%;
      cursor: default;
    }
  }

  .menu-list--apps {

    .menu-list__link {
      flex-wrap: wrap;
    }

    .menu-list__text {
      margin: 0;
    }
  }

  .menu-list--profile {

    &:hover, &.toggled {
      background-color: initial;

      .user-profile {
        border-color: #e9c23a;
      }
    }

    & .menu-list__link {
      justify-content: space-between;
    }

    @media screen and (max-width: 39.9375em) {

      margin-top: auto;

      .user-profile {
        display: none;
      }

      .menu-list__link {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      .menu-list__icon {
        display: flex;
      }

      .icon {

        width: 1.8em;
        justify-content: center;
        font-size: 1.5em;
        margin-right: 0.5em;
      }
    }
  }

  .user-profile {
    text-align: center;
    border-radius: 50%;
    background-color: #193e31;
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border: 0.3rem solid;
    border-color: $primary-color;
    font-size: 2rem;
    line-height: 3.8rem;
    color: white;
    overflow: hidden;
    background-color: lighten($primary-color,3%);
    @include transition-default(border-color);
  }

  .user-figure__file-button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin: 0;
  }

  .user-figure__file-label {
    word-break: break-all;
    vertical-align: initial !important;
    margin: 0 0 1rem 0 !important;
    // Damn you Foundation for making me use !important :(
  }
}
