[class^="preview--"] {
  background-color: $color-white;
  box-shadow: 0 1px 2px $color-shadow-1;
  margin: 2em auto;
  max-width: 75em;
  padding: 0 1em;

  + [class^="preview--"] {
    margin-top: 4em;
  }
}

.header__search {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: 75em;
  margin: 0 auto;
  justify-content: center;

  .searh-input{
    width: 8em;
    margin: 0 0.5em;
    margin-bottom: 0.5em;
    align-self: center;
  }
  .search-submit{
    background-color: #092b2a;
    padding: .7em;
    font-weight: bold;
    color: white;
  }
  .search-submit:hover {
      background: #09a67c;
      color: #ffffff;
    }
}

.preview__list-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 .5em;
}

.preview__list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  .list__video {
    list-style: none;
    margin: 0 .5em;
    max-width: 208px;
  }

  .video__link {
    display: block;
    margin-bottom: .25em;
  }

  .video__thumbnail {
    background: $color-gray-32;
    height: 116px;
    width: 208px;
  }

  .title__link {
    display: block;
    margin-bottom: 1em;

    &:hover { 
      .video__title {
        text-decoration: underline;
      }
    }
  }

  .video__title {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.1rem;
    line-height: 1em;

    @include breakpoint(small only) {
      font-size: .9em
    }
    color: $color-link;
  }



  .reunion__alias {
    display: block;
    color: #404040;
    font-weight: 600;
    font-size: 0.8em;
  }

  .reunion__type {
    display: block;
    font-size: .8em;
    color: black;
    margin-bottom: 1em;
  }
}

.preview__show-all {
  border-top: 1px solid $color-gray-80;
  display: block;
  margin: 0 1em;
  padding: 1em 3em;
  position: relative;
  text-align: center;
}
