.questions-section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow: hidden;
}

.questions__list {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  list-style: none;
  overflow-y: auto;
  margin: 0;

  .list__item {
    display: flex;
    position: relative;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &::before {
      background-color: #fff;
      border-radius: 5px;
      content: '';
      height: calc(100% + 1em);
      left: -.5em;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: -.5em;
      width: calc(100% + 1em);
    }

    &:target::before {
      animation: highlight 3.5s 1s forwards;
    }

    @keyframes highlight {
      0% { opacity: .9; z-index: 2; }
      99.9% { opacity: .1; z-index: 2; }
      100% { opacity: .1; z-index: 0; }
    }
  }

  .item__action-block {
    background-color: hsl(0, 0, 90%);
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .item__vote-block {
    display: flex;
    margin-left: auto;
  }

  .vote-block__total-votes {
    align-items: center;
    background-color: $color-primary-xxhighlight;
    color: #fff;
    display: flex;
    flex: 1 0 2.5em;
    font-weight: $font-weight-bold;
    justify-content: center;
    position: relative;

    @include bp-largeup {
      font-size: 1.2em;
    }

    &.voted,
    &.voted:not(.disabled) {
      color: #000;
      background-color: $color-accent-highlight;
    }

    &.disabled {
      color: $color-primary-xxlight;
      background-color: hsl(0, 0, 80%);
    }
  }

  .vote-block__total-count {
    align-items: center;
    display: flex;
    height: 100%;
    transition: $translate-transition;
  }

  .vote-block__vote-icon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 100%;
    transition: $translate-transition;
    width: 100%;
  }

  .vote-block__total-votes.voted .vote-block__vote-icon {
    top: initial;
    bottom: 100%
  }

  .vote-block__total-votes.voted .vote-block__vote-icon::before {
    transform: rotate(180deg);
  }

  .vote-block__upvote-button {
    align-items: center;
    background-color: $color-primary-xxlight;
    color: #fff;
    display: inline-flex;
    flex: 0 1 auto;
    font-size: .7em;
    font-weight: $font-weight-semi-bold;
    justify-content: center;
    line-height: 1.2em;
    min-height: 3.25em;
    padding: .5em;
    text-transform: uppercase;
    transition: $hover-transition;
    width: 12.5em;

    &:not(.disabled) {
      &:hover {
        cursor: pointer;
      }

      &:not(.voted):hover,
      &:not(.voted):focus {
        background-color: $color-primary-xxhighlight;

        & + .vote-block__total-votes .vote-block__total-count, & + .vote-block__total-votes .vote-block__vote-icon {
          transform: translateY(-100%);
        }
      }

      &.voted {
        background-color: $color-accent;
        color: #000;

        &:hover {
          background-color: $color-accent-highlight;

          & + .vote-block__total-votes .vote-block__total-count, & + .vote-block__total-votes .vote-block__vote-icon {
            transform: translateY(100%);
          }
        }
      }
    }

    &.disabled {
      background-color: hsl(0, 0, 84%);
      color: hsl(0, 0, 60%);
      cursor: default;
    }
  }

  .vote-block__vote-label {
    color: $color-primary-xxlight;
    font-weight: $font-weight-bold;
  }

  .item__question-block {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: .75em;
    position: relative;
    z-index: 1;

    @include bp-mediumdown {
      margin: 0;
    }
  }

  .question-block__answered {
    border: 1px solid $color-primary-xxlight;
    border-radius: 2em;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5em 1em;
    transition: $hover-transition;

    &:hover {
      background-color: $color-primary-xxlight;
      color: #fff;

      .answered__icon,
      .answered__time {
        color: #fff;
      }
    }

    .answered__text {
      font-size: .9em;
    }

    .answered__time {
      color: $color-primary-xxlight;
      font-size: .9em;
      font-weight: $font-weight-semi-bold;
      margin: 0 .3em;
      transition: $hover-transition;
    }

    .answered__icon {
      color: $color-primary-xxlight;
      transition: $hover-transition;
    }
  }
}

.question-block__answered-form {
  align-items: center;
  align-self: center;
  border-radius: 2em;
  border: 1px solid $color-primary-xxlight;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  margin-top: 1em;
  padding: 0.5rem 1.5rem;

  .answered_time__input {
    border: none;
    box-shadow: none;
    font-size: inherit;
    height: initial;
    line-height: inherit;
    margin: 0;
    margin-left: 0.25em;
    padding: 0;
    width: 4.5em;
  }

  .answered_time__checkbox {
    margin: 0;
    margin-right: 0.5em;
  }
}

.questions__list--empty {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 1em;
  flex-direction: column;

  img {
    margin-bottom: 1em;
  }

  p {
    color: $color-primary-xlight;
    font-size: 1.5em;
    font-weight: $font-weight-semi-bold;
    text-align: center;
  }
}
