.question-button {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
  min-width: 200px;
  font-size: 1rem;
  background-color: $color-edem-action;
  color: #FFF;
  font-weight: bold;
  transition: all .15s ease-in-out;

  &:hover {
    background-color: lighten($color-edem-action, 5%);
  }

  &-visible {
    transform: translateY(-100vh);
  }
}
