.questions {
  background-color: $primary-color;
  height: 100%;
  padding: 2.5em;
}

.questions__title {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;

  &::after {
    background-color: #fbc707;
    content: '';
    display: flex;
    flex: 1;
    height: .7em;
    margin-left: 1em;
  }
}

.questions__text {
  color: #fff;
  font-weight: 400;
}

.questions__list {
  list-style: none;
  margin: 0 0 1em;

  .list__item {
    display: flex;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  .item__anchor {
    height: 100%;
    position: absolute;
    top: -6em;
    width: 100%;

    &::before {
      background-color: #fff;
      border-radius: 5px;
      content: '';
      height: calc(100% + 1em);
      left: -.5em;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 5.5em;
      width: calc(100% + 1em);
    }

    &:target::before {
      animation: highlight 3.5s 1s forwards;

      @keyframes highlight {
        0% {
          opacity: .9;
          z-index: 2;
        }

        99.9% {
          opacity: .1;
          z-index: 2;
        }

        100% {
          opacity: .1;
          z-index: 0;
        }
      }
    }
  }

  .item__question-block {
    background-color: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 1em;
    overflow: hidden;
    padding: .75em;
    position: relative;
    z-index: 1;
  }

  .question-block__info {
    margin-bottom: .5em;

    .info__username {
      font-weight: 700;
    }

    .info__timestamp {
      color: #737373;
      font-size: .7em;
      font-weight: 400;
    }
  }

  .question-block__share-button {
    @include transition-default(color);
    color: #666;
    cursor: pointer;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: #000;
    }
  }

  .question-block__share-list {
    @include transition-default(transform);
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 3em;
    justify-content: space-around;
    left: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;

    &.active {
      transform: translateY(0);
    }
  }

  [class^="share-list__item"] {
    @include transition-default(background-color);
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
  }

  .share-list__item--facebook {
    background-color: $facebook-color;
    &:hover { background-color: darken($facebook-color, 10%); }
  }

  .share-list__item--twitter {
    background-color: $twitter-color;
    &:hover { background-color: darken($twitter-color, 10%); }
  }

  .share-list__item--whatsapp {
    background-color: $whatsapp-color;
    &:hover { background-color: darken($whatsapp-color, 10%); }
  }

  .item__link {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    font-size: 1.4em;
    height: 100%;
    justify-content: center;

    &:hover {
      color: #fff;
    }
  }

  .share-list__close {
    align-items: center;
    background-color: #8c8c8c;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-basis: 3em;
    height: 100%;
    justify-content: center;
  }

  .question-block__text {
    margin-bottom: .5em;
  }

  .question-block__answered {
    @include transition-default(all);
    border: 1px solid #09a67c;
    border-radius: 2em;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5em 1em;

    &:hover {
      background-color: #09a67c;
      color: #fff;

      .answered__icon,
      .answered__time {
        color: #fff;
      }
    }
  }

  .answered__text {
    font-size: .9em;
  }

  .answered__time {
    @include transition-default(color);
    color: #09a67c;
    font-size: .9em;
    font-weight: 600;
    margin: 0 .3em;
  }

  .answered__icon {
    @include transition-default(color);
    color: #09a67c;
  }
}

.questions {
  &__vote-block {
    position: relative;
    display: flex;
    flex-basis: 6em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include breakpoint(small only) {
      flex-direction: row;
      flex-basis: 2em;
      background-color: #133837;
    }

    .vote-block__upvote-link {
      color: #09a67c;
      display: inline-flex;
      font-size: 1.6em;
    }

    .vote-block__total-votes {
      color: #09a67c;
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: 0.5em;

      @include breakpoint(small only) {
        width: auto;
        flex: 0.5 1 0%;
        margin: 0;
        text-align: center;
      }

      &.voted {
        color: #fbc707;
      }

      &.disabled {
        color: #09a67c;
      }
    }

    .vote-block__upvote-button {
      color: white;
      font-size: 0.7em;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-flex;
      justify-content: center;
      min-height: 3em;
      width: 100%;
      padding: 0.3em;
      border: 1px solid #09a67c;
      border-radius: 3em;
      transition: all $swift-out 0.25s;

      @include breakpoint(small only) {
        width: auto;
        flex: 1 1 0%;
        border: none;
        border-radius: 0;
        background-color: #09a67c;
      }

      &:hover, &:focus {
        background-color: #09a67c;
        border-color: #09a67c;
        outline: none;
      }

      &.voted {
        border-color: #fbc707;

        @include breakpoint(small only) {
          background-color: #fbc707;
          color: #133837;
        }

        &:hover {
          border-color: #09a67c;
        }
      }

      &.disabled {
        border-color: #999999;
        color: #999999;
        cursor: default;

        @include breakpoint(small only) {
          background-color: #737373;
          color: #cccccc;
        }

        &:hover, &:focus {
          background-color: transparent;
          border-color: #999999;

          @include breakpoint(small only) {
            background-color: #737373;
            color: #cccccc;
          }
        }
      }
    }

    .vote-block__vote-label {
      color: #09a67c;
      font-weight: 700;
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__empty-icon {
    margin: 2.2em;
  }

  &__empty-message {
    font-size: 1.5em;
    font-weight: 600;
    color: hsl(158, 42%, 24%);
  }

}

.questions--room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 1em);
  margin: 0;

  @include breakpoint(medium down) {
    height: auto;
  }


  .questions {

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      height: auto;
      margin: 0 -0.5em;
    }

    &__item {
      flex: 0 0 auto;
      width: 50%;
      padding: 0 0.5em;

      @include breakpoint(medium down) {
        width: 100%;
      }

      @include breakpoint(small only) {
        flex-direction: column-reverse;
      }

      &:last-child {
        margin-bottom: 1em;
      }

    }

    &__vote-block {
      background-color: #09a67c;

      @include breakpoint(large up) {
        font-size: 115%;
      }

      @include breakpoint(small down) {
        flex-basis: 2em;
        flex-direction: row;
      }

      .vote-block__total-votes {
        color: white;

        @include breakpoint(small down) {
          margin: 0;
          margin-right: 0.25em
        }
      }

      .vote-block__vote-label {
        color: white;
      }
    }

    &__question-block {
      margin-left: 0;
    }

    &__user-question {
      line-height: 1.4em;

      @include breakpoint(large up) {
        font-weight: 400;
      }
    }

  }

}
