.question-card {
  background-color: #fff;
  padding-left: 7rem;
  margin: 0.5rem;
  position: relative;
  max-width: 960px;

  > .vote {
    background-color: $color-primary-xxlight;
    color: #fff;
    width: 7rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    > .number { font-size: 1.2em; }
  }

  > .meta {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    > .username {
      font-weight: 700;
      margin-right: 0.2em;
    }
    > .timestamp {
      font-size: 0.7em;
      color: hsl(0, 0%, 40%);
      font-weight: 400;
    }
  }

  > .actions {
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-wrap: wrap;

    > * {
      height: 2rem;
    }

    > .action {
      flex-grow: 1;
      line-height: 2rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-weight: 500;
      font-size: 0.8em;
      text-transform: uppercase;
      background-color: rgba(#000, 0.1);
      overflow: hidden;

      &.-field {
        > .field {
          display: inline;
          width: 5rem;
          text-align: center;
          font-family: monospace;
          appearance: none;
          height: 1.5rem;
          border: 1px solid rgba(#000, 0.1);
        }
        > .send {
          background-color: $color-primary-xxlight;
          border-radius: 3px;
          padding: 0.25rem 0.5rem;
          color: #fff;
          &:hover { background-color: $color-primary-xlight; }
          &:active { background-color: $color-primary-light; }
        }
      }

      &.-checkbox {
        padding-left: 2.5rem;
        position: relative;
        z-index: 1;
        cursor: pointer;
        > span {
          pointer-events: none;
        }
        > .checkbox {
          cursor: pointer;
          position: absolute;
          appearance: none;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          outline: none;
          z-index: -1;
          @include icon($icon-check);
          &:before {
            opacity: 0;
            z-index: 2;
            font-size: 0.8em;
            line-height: 1rem;
            transition: all 0.2s ease;
          }
          &:after {
            content: '';
            background-color: rgba(#000, 0.2);
            box-shadow: 0 0 0 0 $color-primary;
            transition: background-color 0.2s ease;
          }
          &:before,
          &:after {
            display: block;
            width: 1rem;
            height: 1rem;
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
          &:hover {
            background-color: rgba(#000, 0.1);
            &:before {
              opacity: 0.5;
            }
          }
          &:checked {
            background-color: $color-primary-xlight;
            &:before {
              opacity: 1;
              color: #fff;
            }
            &:after {
              background-color: $color-primary-light;
              box-shadow: 0 0 0 0.5rem transparent;
              transition: box-shadow 0.3s ease;
            }
            & + span { color: #fff; }
          }
        }
      }

    }
  }

  > .question {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

}