.question-card {
  background-color: #fff;
  color: #000;
  margin: 0;
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  font-size: 0.9rem;
  @media print {
    display: block;
    page-break-inside: avoid;
    border: 1px solid black;
    border-style: solid;
    margin: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include bp-largedown {
    font-size: 0.75rem;
  }

  > .meta {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    @include bp-largedown {
      margin: 0.75rem;
      margin-bottom: 0rem;
      font-size: 0.75rem;
    }

    > .wrapper {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      margin-right: 0.5rem;
    }

    > .wrapper > .username {
      font-weight: $font-weight-bold;
      margin-right: 0.2em;

      @include bp-largedown {
        line-height: 1.2em;
      }
    }
    > .wrapper > .timestamp {
      font-size: 0.7em;
      margin-top: 0.25rem;
      color: hsl(0, 0%, 40%);
      font-weight: $font-weight-regular;

      @include bp-largedown {
        line-height: 1.2em;
      }
    }
    > .answered {
      flex: 0 0 auto;
      align-self: flex-start;
      margin-left: auto;
      border: 1px solid $color-primary-xxlight;
      color: $color-primary-xxlight;
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: $font-weight-semi-bold;
      padding-right: 0.75rem;
      padding-left: 0.75rem;
      border-radius: 1rem;
      line-height: 1.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: #fff
      &:hover {
        background-color: $color-primary-xxlight;
        color: #fff;
      }
    }

  }

  > .question {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
    font-size: 0.9rem;

    @include bp-largedown {
      margin: 0.75rem;
      font-size: 0.75rem;
    }
  }

}
