.questions {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include breakpoint(medium down) {
    overflow-y: auto;
  }

  @include breakpoint(medium down) { padding: 0; }
  @include breakpoint(large only) { padding: 2.5em; }
  @include breakpoint(xlarge up) { padding: 2.5em 5em; }
}

.questions__title {
  align-items: center;
  color: $color-white;
  display: flex;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;

  @include breakpoint(medium down) { padding: 16px 16px 0; }

  &::after {
    background-color: $color-accent;
    content: '';
    display: flex;
    flex: 1;
    height: .7em;
    margin-left: 1em;
  }
}

.questions__text {
  color: $color-white;
  flex-shrink: 0;
  font-weight: 400;

  @include breakpoint(medium down) { padding: 0 1em; }
}

.questions__list {
  list-style: none;
  margin: 1em 0;
  overflow-y: auto;
  padding: 1em;

  @include breakpoint(medium down) {
    overflow-y: visible;
    padding: 0 1em;
  }

  @include breakpoint(xxlarge up) {
    padding: 10px;
  }

  .list__item {
    display: flex;
    position: relative;

    @include breakpoint(medium down) {
      flex-direction: column-reverse;
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &::before {
      background-color: $color-white;
      border-radius: 5px;
      content: '';
      height: calc(100% + 1em);
      left: -.5em;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: -.5em;
      width: calc(100% + 1em);
    }

    &:target::before {
      animation: highlight 3.5s 1s forwards;
    }

    @keyframes highlight {
      0% { opacity: .9; z-index: 2; }
      99.9% { opacity: .1; z-index: 2; }
      100% { opacity: .1; z-index: 0; }
    }
  }

  .item__vote-block {
    align-items: center;
    display: flex;
    flex-basis: 6em;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    @include breakpoint(medium down) {
      background-color: $color-primary-light;
      flex-basis: 2em;
      flex-direction: row;
    }
  }

  .vote-block__total-votes {
    color: $color-primary-xlight;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: .5em;

    @include breakpoint(medium down) {
      flex: .5 1 0;
      margin: 0;
      text-align: center;
      width: auto;
    }

    &.voted,
    &.voted:not(.disabled) + .vote-block__vote-label {
      color: $color-accent;
    }

    &.disabled {
      color: $color-primary-xlight;
    }
  }

  .vote-block__upvote-button {
    border: 1px solid $color-primary-xlight;
    border-radius: 3em;
    color: $color-white;
    display: inline-flex;
    font-size: .7em;
    font-weight: 400;
    justify-content: center;
    min-height: 3em;
    padding: .3em;
    text-transform: uppercase;
    transition: all $swift-out .25s;
    width: 100%;

    @include breakpoint(medium down) {
      background-color: $color-primary-xlight;
      border: 0;
      border-radius: 0;
      flex: 1 1 0;
      width: auto;
    }

    &:not(.disabled) {
      &:hover {
        cursor: pointer;
      }

      &:not(.voted):hover,
      &:not(.voted):focus {
        background-color: $color-primary-xlight;
        border-color: $color-primary-xlight;
      }

      &.voted {
        border-color: $color-accent;

        @include breakpoint(medium down) {
          background-color: $color-accent;
          color: $color-primary-light;
        }

        &:hover {
          background-color: $color-accent;
          color: $color-primary-light;
        }
      }
    }

    &.disabled {
      border-color: #999;
      color: #999;
      cursor: default;

      @include breakpoint(medium down) {
        background-color: $color-gray-45;
        color: #cccccc;
      }
    }
  }

  .vote-block__vote-label {
    color: $color-primary-xlight;
    font-weight: 700;
  }

  .item__question-block {
    background-color: $color-white;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 1em;
    overflow: hidden;
    padding: .75em;
    position: relative;
    z-index: 1;

    @include breakpoint(medium down) {
      margin: 0;
    }
  }

  .question-block__share-button {
    @include transition-default(color);
    color: #666;
    cursor: pointer;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: #000;
    }
  }

  [class^="question-block__share-list"] {
    @include transition-default(transform);
    align-items: center;
    background-color: $color-white;
    display: flex;
    height: 3em;
    justify-content: space-around;
    left: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 100%;

    [class^="share-list__item"] {
      @include transition-default(background-color);
      align-items: center;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: center;

      .item__link {
        align-items: center;
        color: $color-white;
        display: flex;
        flex: 1;
        font-size: 1.4em;
        height: 100%;
        justify-content: center;

        &:hover {
          color: $color-white;
        }
      }
    }

    .share-list__item--facebook {
      background-color: $color-facebook;
      &:hover { background-color: darken($color-facebook, 10%); }
    }

    .share-list__item--twitter {
      background-color: $color-twitter;
      &:hover { background-color: darken($color-twitter, 10%); }
    }

    .share-list__item--whatsapp {
      background-color: $color-whatsapp;
      &:hover { background-color: darken($color-whatsapp, 10%); }
    }

    .share-list__close {
      align-items: center;
      background-color: #8c8c8c;
      color: $color-white;
      cursor: pointer;
      display: flex;
      flex-basis: 3em;
      height: 100%;
      justify-content: center;
    }
  }

  .question-block__share-list--active {
    transform: translateY(0);
  }

  .question-block__answered {
    @include transition-default(all);
    border: 1px solid $color-primary-xlight;
    border-radius: 2em;
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
    padding: .5em 1em;

    &:hover {
      background-color: $color-primary-xlight;
      color: $color-white;

      .answered__icon,
      .answered__time {
        color: $color-white;
      }
    }

    .answered__text {
      font-size: .9em;
    }

    .answered__time {
      @include transition-default(color);
      color: $color-primary-xlight;
      font-size: .9em;
      font-weight: 600;
      margin: 0 .3em;
    }

    .answered__icon {
      @include transition-default(color);
      color: $color-primary-xlight;
    }
  }
}

.questions__list--empty {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2.2em;

  @include breakpoint(small down) {
    flex-wrap: wrap;
    margin: 1em;
  }

  p {
    color: hsl(158, 42%, 24%);
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 2.2em;

    @include breakpoint(small down) {
      margin: 1em 0 0;
      text-align: center;
    }
  }
}

.questions {
  .send-form--questions {
    background-color: $color-primary-light;

    @include breakpoint(medium down) {
      flex-direction: column;
      height: 112px;
      left: 200vw;
    }
  }

  .send-form__actions {
    @include breakpoint(medium down) {
      display: flex;
      flex: 1;
      margin: 0;
      width: 100%;
    }
  }

  .actions__character-counter {
    @include breakpoint(medium down) {
      align-items: center;
      flex: .5 1 0;
      justify-content: center;
    }
  }

  .actions__button {
    @include breakpoint(medium down) {
      align-items: center;
      background-color: #46c4fc;
      flex: 1 1 0;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
  }

  .send-form--closed,
  .send-form--unauthenticated {
    background-color: $color-primary-light;
    color: $color-white;
  }
}
