.question-card {
  background-color: #fff;
  padding-left: 7rem;
  margin: 0.5rem;
  position: relative;
  max-width: 960px;

  > .vote {
    background-color: $color-primary-xxlight;
    color: #fff;
    width: 7rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    > .number { font-size: 1.2em; }
  }

  > header.meta {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    > .username {
      font-weight: 700;
      margin-right: 0.2em;
    }
    > .timestamp {
      font-size: 0.7em;
      color: hsl(0, 0%, 40%);
      font-weight: 400;
    }
  }

  > footer.actions {
    background-color: hsl(0, 0%, 90%);
    height: 2rem;
    display: flex;
    > .label {
      line-height: 2rem;
      padding-left: 1rem;
      padding-right: 2.5rem;
      position: relative;
      z-index: 1;
      > .checkbox {
        position: absolute;
        appearance: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
        z-index: -1;
        background-color: rgba(#000, 0.1);
        @include icon($icon-check);
        &:before {
          opacity: 0;
          z-index: 2;
          color: white;
        }
        &:after {
          content: '';
          background-color: rgba(#000, 0.2);
          box-shadow: 0 0 0 0 $color-primary;
        }
        &:before,
        &:after {
          display: block;
          width: 1rem;
          height: 1rem;
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
        }
        &:checked {
          background-color: $color-primary-xxlight;
          &:before {
            opacity: 1;
          }
          &:after {
            background-color: $color-primary-xlight;
            box-shadow: 0 0 0 0.5rem transparent;
            transition: box-shadow 0.3s ease;
          }
        }
      }
    }
  }

  > .question {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

}