.room-container {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;

  > .room-questions {
    min-width: 19rem;
  }

  > .room-chat {
    min-width: 17rem;
  } 

  > .room-questions,
  > .room-main,
  > .room-chat {
    padding-left: 1rem;
    padding-right: 1rem;
  }


}