.room-info {
  max-height: 14rem;
  transition: max-height 0.4s ease;
  overflow-y: hidden;
  position: relative;
  padding-bottom: 2rem;

  &.-open {
    max-height: 99rem;
  }

  &::after {
    content: '';
    background: linear-gradient(transparent, $color-edem-dark);
    position: absolute;
    top: calc(100% - 5rem);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  > * + * {
    margin-top: 1rem;
  }
  > p {
    color: rgba(#fff, 0.6);
  }
  > .list {
    > * + * {
      margin-top: 1rem;
    }
    > li > a {
      color: $color-edem-action;
      text-decoration: underline;
      cursor: pointer;
      &:hover { opacity: 0.8; }
    }
  }

  > .more {
    color: $color-edem-action;
    cursor: pointer;
    text-align: center;
    line-height: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    &:hover { opacity: 0.8; }
  }

}
