.room-info {
  padding-top: 1rem;
  padding-bottom: 1rem;

  > .title {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  > .info {
    color: $color-edem-highlight;
    font-size: $font-size-deci;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  > .info > span {
    margin-right: 1rem;
  }

}