.room-video {
  margin-bottom: 0.5em;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include bp-mediumdown {
    width: calc(100% + 2em);
    margin-left: -1em;
  }

  .video {
    width: 100%;
    height: 20vw;
    margin-top: 1rem;
  }

  .video__status {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .status__transmission-text {
    align-items: center;
    color: white;
    display: flex;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
  }

  .status__live-icon {
    color: $color-live-blink;
    margin-right: 0.25em;
  }

  .status__counter {
    display: flex;
    justify-content: center;
    line-height: 1;
  }

  .status__counter-text {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }

  .status__counter-number {
    color: #09a67c;
    font-weight: 700;
    margin-right: 0.25em;
  }

  .video--empty {
    align-items: center;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: 2em;
    position: absolute;
    right: 0;
    top: 0;

    .video--empty__message {
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
    }

    .video--empty__icon {
      margin-bottom: 1em;
    }
  }
}