.room-questions {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > p {
    margin-bottom: 0.5rem;

    @include bp-largedown {
      margin-top: 0.75rem;
      font-size: $font-size-centi;
      line-height: 1.2em;
    }
  }

  > .link {
    font-size: $font-size-base;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    color: $color-edem-action;
    text-decoration: underline;
  }
}
