.room-questions {
  display: flex;
  flex-direction: column;
  position: relative;

  > p {
    margin-bottom: 0.5rem;
  }

  > .link {
    font-size: $font-size-base;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    color: $color-edem-action;
    text-decoration: underline;
  }
}
