.room-container {
  $gutter: 1rem;
  display: flex;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  > .room-questions {
    min-width: 19rem;
  }

  > .room-chat {
    min-width: 17rem;
  } 

  > .room-questions,
  > .room-main,
  > .room-chat {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }


}