.room-main {
  overflow-y: auto;
  flex-grow: 1;
  padding-bottom: 2rem;
  position: relative;
  &::before {
    content: '';
    background: linear-gradient($color-edem-dark, transparent);
    position: sticky;
    height: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    display: block;
  }
  > * + * {
    margin-top: 2rem;
  }
}