.room-chat {
  position: relative;
  display: flex;
  flex-direction: column;

  > .aud-button {
    flex: 0 0 auto;
    margin-bottom: 1rem;
    align-self: flex-start;
  }

  > .controls {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: hsl(0, 0%, 80%);
    padding: 0.5em;
    text-align: center;

    &.-visible {
      transform: translateY(-100%);
    }
  }

  > .controls > .info {
    display: block;
    margin-top: .5em;
    font-size: 0.8em;
    color: hsl(0, 0%, 40%);

    > .time {
      color: $color-edem-main;
      font-weight: $font-weight-bold;
    }

    > .link {
      cursor: pointer;
      color: $color-edem-action;
      text-decoration: underline;
      text-decoration-skip: ink;

      &:hover {
        color: darken($color-edem-action, 10%);
      }
    }
  }

  > .controls > .form {
    display: flex;
  }

  > .controls > .form > .input {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
    height: 3em;
    min-height: 0;
    padding: 0.75em 1.25em;
    color: $color-edem-dark;
    border: 1px solid hsl(0, 0%, 70%);
    resize: none;

    &::placeholder {
      opacity: .5;
    }
  }

  > .controls > .form > .actions > .button {
    height: 100%;
    padding: 1em .8em;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    font-weight: $font-weight-medium;
    color: #FFF;
    background-color: $color-edem-action;
  }

  > .messageswrapper {
    position: relative;
    display: flex;
    flex: 1 1 0;

    > .messages {
      overflow-y: auto;
      background-color: #fff;
      flex-grow: 1;
    }

    .messages > .list {
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;
      word-break: break-word;
    }

    .messages > .list > .empty {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 2em;
      flex-direction: column;

      > img {
        margin-bottom: 1em;
      }

      p {
        color: hsl(0, 0, 84%);
        font-size: 1em;
        line-height: 1.2;
        text-align: center;
      }
    }

    .messages .item {
      padding: .5em 1em;
      color: #000;
      line-height: 1.2;
      font-weight: 300;

      &:nth-child(odd) {
        background-color: hsl(0, 0, 95%);
      }

      > .username {
        font-weight: 700;
        font-size: .8rem;
      }

      > .timestamp {
        font-size: .6rem;
        word-break: break-word;
        color: hsl(0, 0, 50%);
      }

      > .text {
        font-size: .8rem;
      }
    }
  }

}

[class^="form"] {
  @include bp-mediumdown {
    transform: translateY(100%);
  }
}

.chat__floating-header {
  background-color: $color-primary-xlight;
  transform: none;

  @include bp-mediumdown {
    display: none;
  }

  .header__icon {
    border: .2em solid;
    border-radius: 50%;
    padding: .4em;
  }
}

[class^="chat__read-more"] {
  align-items: center;
  background-color: rgba($color-primary-xxlight, .85);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: .9em;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  margin-bottom: -30px;
  transition: $translate-transition;
  width: 100%;
  z-index: 0;

  &:hover {
    text-decoration: underline;
  }
}
