.room-video {

  > .room-title {
    padding: 0;
    margin-bottom: 0.75rem;

    @include bp-largeup {
      display: none;
    }

    > .title {
      font-size: $font-size-deci;
      line-height: 1.2em;
      text-transform: uppercase;
      margin-bottom: 0.25rem;
    }

    > .info {
      font-size: $font-size-centi;
      line-height: 1em;
      text-transform: none;
    }

  }

  > .heightwrapper{
    position: relative;
    max-height: calc(100vh - 12rem);
    min-height: 10rem;

    > .ratiowrapper {
      position: relative;
      padding-bottom: 56.25%;

      > .video {
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: calc(100vh - 12rem);
        min-height: 10rem;
      }
    }

    > .info {
      position: absolute;
      top: 100%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: $font-size-centi;
      line-height: 1.5rem;

      > .status {
        display: flex;
        align-items: center;

        > .live-icon {
          margin-right: 0.25rem;
        }
      }

      > .visitors > .numbers {
        font-weight: $font-weight-bold;
      }
    }
  }

  > .extras {
    $outline-width: 2px;

    display: flex;
    align-items: start;
    margin-top: 2rem;
    padding: $outline-width;
    overflow-x: auto;

    > * + * {
      margin-left: 1rem;
    }

    > .extravideo {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      cursor: pointer;
      z-index: 2;

      &:hover, &:active {
        > .thumbnail, > .add {
          opacity: 1;
        }
      }

      &.-current {
        cursor: default;

        > .thumbnail, > .add {
          opacity: 1;
          outline-color: $color-edem-highlight;
        }
      }

      > .thumbnail, > .add {
        width: 8rem;
        height: 5rem;
        margin-bottom: 0.5rem;
        opacity: 0.5;
        outline-width: $outline-width;
        transition: opacity 0.3s $swift-out,
                    outline 0.2s ease;
      }

      > .thumbnail {
        outline-style: solid;
        outline-color: transparent
      }

      > .add {
        outline-style: dashed;
        outline-color: #fff;
        font-weight: 700;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: $font-size-deci;
      }

      > .title {
        font-size: $font-size-deci;
        line-height: 1rem;

        @include bp-largedown {
          font-size: $font-size-deci
        }
      }

      > .aud-button {
        position: absolute;
        margin: 0.25rem;
        transform: translateY(-2rem);
        transition: transform 0.4s $swift-out;

        &.-active {
          transform: translateY(0);
        }

        &.-remove {
          right: 0;
          top: 0;
        }

        &.-edit {
          left: 0;
          top: 0;
        }

        &.-left {
          left: 0;
          top: 0;
        }

        &.-right {
          right: 0;
          top: 0;
        }


      }
    }
  }

  .video--empty {
    align-items: center;
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: 2em;
    position: relative;
    right: 0;
    top: 0;

    .video--empty__message {
      font-size: 1.5em;
      font-weight: $font-weight-regular;
      text-align: center;
      line-height: 1.3;
    }

    .video--empty__icon {
      margin-bottom: 1em;
    }
  }
}
