.room-tabs {
  height: 3em;
  flex-shrink: 0;
  width: 100%;
  background-color: $color-primary-light;

  position: relative;
  display: flex;
  justify-content: space-around;

  @include bp-largeup {
    display: none;
  }

  > .list {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    list-style: none;
  }

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #fff;
    font-weight: $font-weight-semi-bold;
  }

  > .marker {
    position: absolute;
    left: 0;
    bottom: 0;
    height: .3em;
    width: calc(100% / 3);
    background-color: $color-accent;
    transition: transform 0.4s $swift-out;

    &[data-tab-index="1"] { transform: translateX(100%); }
    &[data-tab-index="2"] { transform: translateX(200%); }
  }
}
