.room-chat {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @include bp-largedown {
    order: 2;
  }

  > .aud-button {
    flex: 0 0 auto;
    margin-bottom: 1rem;
    align-self: flex-start;

    @include bp-largedown {
      margin-top: 1rem;
    }
  }

  > .controls {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $color-edem-action;
    padding: 1em;
    text-align: center;

    &.-visible {
      transform: translateY(-100%);
    }
  }

  > .controls > * + * {
    margin-top: 0.5rem;
  }

  > .controls > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    > .aud-button {
      margin-left: 0.5rem;
    }
  }

  > .controls > .info, > .controls > .wrapper > .info {
    display: block;
    font-size: $font-size-deca;
    color: #fff;

    > .time {
    color: #fff;
      font-weight: $font-weight-bold;

      &.-halfway {
        color: $color-countdown-halfway;
      }

      &.-finishing {
        color: $color-countdown-finishing;
      }

      &.-done {
        color: inherit;
      }
    }

    > .link {
      cursor: pointer;
      color: rgba(#fff, 0.9);
      text-decoration: underline;

      &:hover {
        color: #fff;
      }
    }
  }

  > .controls > .form {
    display: flex;
  }

  > .controls > .form > .input {
    display: flex;
    align-items: center;
    font-size: $font-size-deci;
    line-height: 1.5em;
    width: 100%;
    height: 3rem;
    min-height: 0;
    padding: 0.5em;
    color: $color-edem-dark;
    resize: none;

    &::placeholder {
      opacity: .5;
    }
  }

  > .controls > .form > .actions > .button {
    @include icon('paper-plane');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 3.5rem;
    color: $color-edem-action;
    font-size: $font-size-hecto;
    background-color: rgba(#fff, 0.9);
    margin-left: 1px;
    overflow: hidden;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      flex: 1 0 auto;
      padding-right: 3px;
    }

    &:hover {
      background-color: #fff;
    }
  }

  > .messages {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    min-height: 0; // Needed for Firefox
  }

  .messages > .list {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fff;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    word-break: break-word;
  }

  .messages > .list > .empty {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2em;
    flex-direction: column;

    > img {
      margin-bottom: 1em;
    }

    p {
      color: hsl(0, 0, 84%);
      font-size: 1em;
      line-height: 1.2;
      text-align: center;
    }
  }

  .messages .item {
    padding: 1.05em 1.5em;
    color: #000;
    line-height: 1.75em;
    font-size: $font-size-deci;
    font-weight: 300;

    &:nth-child(odd) {
      background-color: hsl(0, 0, 95%);
    }

    > .username {
      font-weight: 700;
    }

    > .timestamp {
      font-size: $font-size-centi;
      word-break: break-word;
      color: hsl(0, 0, 50%);
    }
  }
}

.chat__floating-header {
  background-color: $color-primary-xlight;
  transform: none;

  @include bp-mediumdown {
    display: none;
  }

  .header__icon {
    border: .2em solid;
    border-radius: 50%;
    padding: .4em;
  }
}

[class^="chat__read-more"] {
  align-items: center;
  background-color: rgba($color-primary-xxlight, .85);
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: .9em;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  margin-bottom: -30px;
  transition: $translate-transition;
  width: 100%;
  z-index: 0;

  &:hover {
    text-decoration: underline;
  }
}
