.room-main {
  overflow-y: auto;
  flex-grow: 1;
  padding-bottom: 2rem;
  position: relative;
  &::before {
    content: '';
    background: linear-gradient($color-edem-dark, transparent);
    position: sticky;
    height: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
    display: block;

    @include bp-largedown {
      height: 0.75rem;
    }
  }

  @include bp-largedown {
    order: 1;
  }

  > * + * {
    margin-top: 1.5rem;

    @include bp-largedown {
      margin-top: 0.75rem;
    }
  }
}