.room-h2 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1rem;
  line-height: 2rem;
  letter-spacing: 0.05em;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: calc(100% - 1rem);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $color-edem-main;
  }
}