.send-form {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  padding: 1em 1em;

  &--questions {
    background-color: #133837;
    color: white;
  }

  &--chat {
    color: #404040;
  }

  &--unauthenticated  {
    justify-content: center;

    & .send-form--unauthenticated__message {
      padding: 0.5em;
      font-weight: 600;
      font-size: 1em;
      color: inherit;
    }
  }

  &__text-input {
    margin: 0;
    resize: none;
  }

  &__button {
    margin: 0;
    margin-left: 0.5em;
    border: none;
    padding-right: 0.5em;
    background-color: #09a67c
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
  }

  &__link {
    color: #09a67c;
  }
}