.social-share {

  > .button {
    $bottom: 2px;

    display: inline-block;
    width: 2rem;
    height: 1rem;
    border-radius: 2px;
      box-shadow: 0 -#{$bottom} 0 0 rgba(#000, 0.2) inset,
                  0 0 0 2rem transparent inset;
    margin-right: 0.5rem;
    cursor: pointer;
    background-color: $color-edem-action;

    &:last-child { margin-right: 0; }

    &:hover {
      box-shadow: 0 -#{$bottom} 0 0 rgba(#000, 0.2) inset,
                  0 0 0 2rem rgba(#000, 0.2) inset;
    }

    &:active {
      transform: translateY(calc(#{$bottom} / 2));
      box-shadow: 0 calc(-#{$bottom} / 2) 0 0 rgba(#000, 0.2) inset,
                  0 0 0 2rem rgba(#000, 0.3) inset;
    }

    &.-facebook {
      @include icon(facebook);
      background-color: $color-facebook;
    }
    &.-twitter {
      @include icon(twitter);
      background-color: $color-twitter;
    }
    &.-whatsapp {
      @include icon(whatsapp);
      background-color: $color-whatsapp;
    }
    
    &.-facebook,
    &.-twitter,
    &.-whatsapp {
      &::before {
        text-align: center;
        color: #fff;
        font-size: $font-size-centi;
        line-height: 1rem;
        transform: translateY(calc(-#{$bottom} / 2));
        display: block;
        width: 100%;
      }
    }

  }

}