.tabs-nav {
  background-color: #133837;
  height: 3em;

  @include breakpoint(large up) {
    display: none;
  }
}

.tabs-nav__list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  list-style: none;
  margin: 0;

  .list__item {
    display: flex;
    flex: 1;
  }

  .item__link {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    font-weight: 600;
    justify-content: center;
  }
}
