.video {
  background-color: $secondary-color;
  height: 100%;

  .video__iframe-wrapper {
    background-color: $color-black;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .video__iframe {
    height: 253px;
    width: 450px;
  }

  .video__title {
    color: $color-white;
    padding: 1em 2em;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint(small down) { padding: 1em; }
    @include breakpoint(medium only) { padding: 1em 2em; }

    .title__header {
      font-size: 1.4em;
      font-weight: 700;
    }

    .title__subheader {
      font-size: 1em;
      font-weight: 400;
      margin-bottom: 0;

      .subheader__icon {
        color: $color-live-blink;
        font-size: .7em;
      }
    }
  }
}
