%button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  min-width: 6rem;
  padding: 0 1rem;
  font-size: $font-size-deci;
  font-weight: 500;
  text-align: center;
  line-height: 0.9rem;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  user-select: none;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1),
              0 0 0 5rem rgba(0, 0, 0, 0) inset;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: $swift-out;

  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.2),
                inset 0 0 0 5rem rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0),
                0 0 0 5rem rgba(0, 0, 0, 0.25) inset;
    transition-duration: 0.02s;
  }
}

%closeicon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  &::before { transform: rotate(45deg) }
  &::after { transform: rotate(-45deg) }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: currentColor;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after { box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2) }
}