body {
  // Necessary styles so that edem-sidebar may work
  position: relative;
  width: 100%;
  transition: margin-left 0.3s $swift-out;

  &::after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    background-color: $edem-color-primary;
    z-index: 100000;
    transition: opacity 0.3s ease, width 0s 0.3s, height 0s 0.3s;
  }
}

button {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
}

// TODO Remove this after getting rid of Foundation!!
[hidden] {
  display: none !important;
}