.home {
  color: #000;

  .section-top {
    background: linear-gradient(45deg, $color-primary-xlight 0%, $color-primary 100%);
  }

  .section-bottom {
    background-color: hsl(0, 0, 90%);
    padding: 1em 2em;

    @include bp-mediumdown {
      padding: 1em;
    }
  }

  .preview--live-videos {
    .preview__floating-header {
      background-color: $color-primary-xlight;
    }

    .header__icon {
      color: $color-live-blink;
    }
  }

  .preview--closed-videos {
    .preview__floating-header {
      background-color: $color-secondary;
    }

    .header__icon {
      border: .2em solid;
      border-radius: 50%;
      padding: .4em;
    }
  }

  .preview--calendar {
    padding: 0;

    .preview__floating-header {
      background-color: $color-primary;
      margin: 0 1em;
    }

    .header__icon {
      border: .2em solid;
      border-radius: 50%;
      padding: .4em;
    }

    .button {
      background: #092b2a;
      padding: 1em;
      color: #ffffff;
      vertical-align: middle;
      font-weight: bold;
    }

    .button:hover {
      background: #09a67c;
      color: #ffffff;
    }

    .show-more a {
      color: #3798c8;
      font-weight: 600;
    }
  }
}
