.home {
  .section-top {
    background: linear-gradient(45deg, $color-primary-xlight 0%, $color-primary 100%);
  }

  .section-bottom {
    background-color: $color-gray-90;
    padding: 1em 2em;

    @include breakpoint(medium down) {
      padding: 1em;
    }
  }

  .preview--live-videos {
    .preview__floating-header {
      background-color: $color-primary-xlight;
    }

    .header__icon {
      color: $color-live-blink;
    }
  }

  .preview--closed-videos {
    .preview__floating-header {
      background-color: $color-secondary;
    }

    .header__icon {
      border: .2em solid;
      border-radius: 50%;
      padding: .4em;
    }
  }

  .preview--calendar {
    padding: 0;

    .preview__floating-header {
      background-color: $color-primary;
      margin: 0 1em;
    }

    .header__icon {
      border: .2em solid;
      border-radius: 50%;
      padding: .4em;
    }

    .button {
      border-top: 1px solid #010203;
      background: #092b2a;
      background: -webkit-gradient(linear, left top, left bottom, from(#092b2a), to(#092b2a));
      background: -webkit-linear-gradient(top, #092b2a, #092b2a);
      background: -moz-linear-gradient(top, #092b2a, #092b2a);
      background: -ms-linear-gradient(top, #092b2a, #092b2a);
      background: -o-linear-gradient(top, #092b2a, #092b2a);
      padding: 6.5px 13px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
      -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
      box-shadow: rgba(0,0,0,1) 0 1px 0;
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      color: #ffffff;
      text-decoration: none;
      vertical-align: middle;
      font-weight: bold;
    }

    .button:hover {
      border-top-color: #213d4d;
      background: #213d4d;
      color: #ffffff;
    }

    .button:active {
      border-top-color: #1b435e;
      background: #1b435e;
    }
  }
}
