.room {
  display: flex;

  @include breakpoint(medium down) {
    flex-direction: column-reverse;
  }

  @include breakpoint(large up) {
    height: calc(100vh - 4em);
    max-height: calc(100vh - 4em);
  }

  @include breakpoint(xxlarge up) {
    font-size: 120%;
  }

  .section-left {
    flex: 1;
  }

  .section-right {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include breakpoint(large only) { max-width: 400px; }
    @include breakpoint(xlarge only) { max-width: 500px; }
    @include breakpoint(xxlarge up) { max-width: 600px; }
  }

  .section-right__bottom {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include breakpoint(medium down) {
      display: none;
    }
  }
}
