.room-body {
  left: 0;
  position: fixed;
  width: 100vw;

  @include breakpoint(small down) { height: calc(100vh - 6em); }
  @include breakpoint(medium only) { height: calc(100vh - 7em); }
  @include breakpoint(large up) { height: calc(100vh - 4em); }
}

.room {
  display: flex;
  flex: 1;
  overflow: hidden;

  @include breakpoint(medium down) {
    flex-direction: row-reverse;
    width: 300vw;
  }

  @include breakpoint(xxxlarge up) {
    font-size: 120%;
  }

  .section-left {
    display: flex;
    flex: 1;

    @include breakpoint(medium down) {
      width: 100vw;
    }
  }

  .section-right {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include breakpoint(medium down) {
      flex: initial;
      flex-direction: row;
      width: 200vw;
    }

    @include breakpoint(large only) { max-width: 330px; }
    @include breakpoint(xlarge only) { max-width: 500px; }
    @include breakpoint(xxlarge up) { max-width: 600px; }
  }

  .section-right__top,
  .section-right__bottom {
    @include breakpoint(medium down) {
      width: 100vw;
    }
  }

  .section-right__top {
    @include breakpoint(medium down) {
      display: flex;
      flex: 1;
    }
  }

  .section-right__bottom {
    background-color: $color-gray-84;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
