.room-body {
  overflow-x: hidden;
  width: 100vw;

  @include breakpoint(small down) { height: calc(100vh - 6em); }
  @include breakpoint(medium only) { height: calc(100vh - 7em); }
  @include breakpoint(large up) { height: calc(100vh - 4em); }
  .navigation {
    display: none;
  }
}

.room {
  display: flex;
  flex: 1;
  overflow: hidden;

  @include breakpoint(medium down) {
    flex-direction: row-reverse;
    width: 300vw;
  }

  .section-left {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include breakpoint(large up) {
      flex: 0 1 500px;
      max-width: 500px;
    }

    @include breakpoint(medium down) {
      width: 100vw;
    }
  }

  .header-wrapper {
    background-color: $color-primary-xlight;
    border-right: 4em solid $color-primary;
    border-top: 4em solid $color-primary-xlight;
    position: relative;
    width: calc(100% + 2em);

    @include breakpoint(medium down) {
      display: none;
    }
  }

  .header__logo {
    display: flex;
    align-items: center;
    margin: 0 2.5em;
    position: absolute;
    top: -3.25em;

    .logo__image--audiencias-logo {
      height: 2.5em;

      @include breakpoint(small down) {
        height: 1.8em;
      }
    }

    .logo__image--audiencias-text {
      height: 1.2em;
      margin-left: .8em;

      @include breakpoint(small down) {
        display: none;
      }
    }
  }

  .section-right {
    display: flex;
    flex: 1;

    @include breakpoint(medium down) {
      flex: initial;
      width: 200vw;
    }
  }

  .section-right__top,
  .section-right__bottom {
    @include breakpoint(medium down) {
      width: 100vw;
    }
  }

  .section-right__top {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .section-right__bottom {
    background-color: $color-gray-84;
    display: flex;
    flex: 1;
    flex-direction: column;

    @include breakpoint(large up) {
      width: 340px;
      max-width: 340px;
      flex: 0 0 340px;
    }
  }
}
