.room-body {
  overflow-x: hidden;
  width: 100vw;

  @include breakpoint(small down) { height: calc(100vh - 6em); }
  @include breakpoint(medium only) { height: calc(100vh - 7em); }
  @include breakpoint(large up) { height: calc(100vh - 4em); }
}

.widget {
  margin-top: 0;
  min-height: 100%;

  .menu-list {
    display: flex;
    align-self: stretch;
    list-style: none;
    margin: 0;
    @include transition-default(background-color);

    &:hover, &.toggled {
      background-color: darken(#092b2a,3%);

      @media screen and (max-width: 39.9375em) {
        background-color: transparent;
      }
    }

    &__icon {
      font-size: 1.4em;
      color: white;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 4em;
      @include transition-default(background-color);
      cursor: pointer;

      &:hover {
        background-color: darken(#092b2a,3%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-weight: 600;
      padding: 0.75em;
      color: white;

      &:hover {
        color: white;
      }

      @media screen and (max-width: 39.9375em) {
        justify-content: flex-start;
      }
    }

    &__text {
      margin-right: 1em;
      color: white;
    }
  }
}

.room {
  display: flex;
  flex: 1;
  overflow: hidden;

  @include breakpoint(medium down) {
    flex-direction: row-reverse;
    width: 300vw;
  }

  .section-left {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include breakpoint(large up) {
      flex: 0 1 500px;
      max-width: 500px;
    }

    @include breakpoint(medium down) {
      width: 100vw;
    }
  }

  .header-wrapper {
    background-color: $color-primary-xlight;
    border-right: 6.5em solid $color-primary;
    border-top: 6.5em solid $color-primary-xlight;
    position: relative;
    width: calc(100% + 2em);

    @include breakpoint(medium down) {
      display: none;
    }
  }

  .header__logo {
    display: flex;
    align-items: center;
    margin: 0 2.75em;
    position: absolute;
    top: -4.75em;

    .logo__image--audiencias-logo {
      height: 3em;
    }

    .logo__image--audiencias-text {
      height: 1.5em;
      margin-left: .8em;
    }
  }

  .section-right {
    display: flex;
    flex: 1;

    @include breakpoint(medium down) {
      flex: initial;
      width: 200vw;
    }
  }

  .section-right__top,
  .section-right__bottom {
    @include breakpoint(medium down) {
      width: 100vw;
    }
  }

  .section-right__top {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .section-right__bottom {
    background-color: $color-gray-84;
    display: flex;
    flex: 1;
    flex-direction: column;

    @include breakpoint(large up) {
      width: 340px;
      max-width: 340px;
      flex: 0 0 340px;
    }
  }
}
