.widget {
  margin-top: 0;
  min-height: 100%;

  .menu-list {
    display: flex;
    align-self: stretch;
    list-style: none;
    margin: 0;
    @include transition-default(background-color);

    &:hover, &.toggled {
      background-color: darken(#092b2a,3%);

      @media screen and (max-width: 39.9375em) {
        background-color: transparent;
      }
    }

    &__icon {
      font-size: 1.4em;
      color: white;
      pointer-events: none;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 4em;
      @include transition-default(background-color);
      cursor: pointer;

      &:hover {
        background-color: darken(#092b2a,3%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-weight: 600;
      padding: 0.75em;
      color: white;

      &:hover {
        color: white;
      }

      @media screen and (max-width: 39.9375em) {
        justify-content: flex-start;
      }
    }

    &__text {
      margin-right: 1em;
      color: white;
      pointer-events: none;
    }
  }
}
