/**
 * COLORS
 */

$edem-color-primary: #002222;
$edem-color-secondary: #ffcc33;
$edem-color-link: #a9de8c;
$edem-color-facebook: #3b5998;
$edem-color-google: #ffffff;
$edem-darken-active-value: 8%;


/**
 * SIZES
 */

$edem-size-navigation: 24px;
