{% extends "components/base.html" %}
{% load staticfiles compress %}

{% block title %}Audiencias Públicas{% endblock %}

{% block main %}
  <main class="home">
    <section class="section-top">
      <div class="banner">
        <img class="banner__logo" src="{% static 'img/logo-audiencias-full.svg' %}" data-fallback="{% static 'img/logo-audiencias-full.png' %}">
        <p class="banner__text">Acompanhe ao vivo e participe enviando perguntas aos deputados!</p>
      </div>
    </section>

    <section class="section-bottom">
      {% if live_videos %}
        <div class="preview--live-videos">
      {% else %}
        <div class="preview--live-videos hide">
      {% endif %}
        <div class="preview__floating-header">
          <i class="header__icon icon icon-circle live-blink"></i>
          <h2 class="header__title">Ao Vivo</h2>
        </div>

        <div class="preview__list-wrapper">
          <ul class="preview__list">
            {% for room in live_videos %}
              {% include "includes/home_video.html" with room=room %}
            {% endfor %}
          </ul>
        </div>
      </div>

      {% if closed_videos %}
        <div class="preview--closed-videos">
      {% else %}
        <div class="preview--closed-videos hide">
      {% endif %}
        <div class="preview__floating-header">
          <i class="header__icon icon icon-play"></i>
          <h2 class="header__title">Veja Audiências Que Já Aconteceram</h2>
        </div>

        <div class="preview__list-wrapper">
          <ul class="preview__list">
            {% for room in closed_videos %}
            {% include "includes/home_video.html" with room=room %}
            {% endfor %}
          </ul>
        </div>

        <div class="preview__show-all">
          <a href="{% url 'video_list' %}" class="show-all__button">Ver Tudo</a>
        </div>
      </div>

      {% if agendas %}
        <div class="preview--calendar">
          <div class="preview__floating-header">
            <i class="header__icon icon icon-calendar"></i>
            <h2 class="header__title">Previsão de Audiências Públicas</h2>
          </div>

          <table class="calendar-table">
            <tbody class="calendar-table__body">
              {% for agenda in agendas %}
                <tr class="calendar-table__row">
                  <td class="calendar-table__column">
                    <div class="calendar-table__date-wrapper">

                      {% if agenda.is_today %}
                        <span class="calendar-table__weekday calendar-table__weekday--today">Hoje</span>
                      {% elif agenda.is_tomorrow %}
                        <span class="calendar-table__weekday calendar-table__weekday--tomorrow">Amanhã</span>
                      {% else %}
                        <span class="calendar-table__weekday">{{ agenda.date|date:"D" }}</span>
                      {% endif %}

                      <span class="calendar-table__day">{{ agenda.date|date:"d" }}</span>
                      <span class="calendar-table__month">{{ agenda.date|date:"M" }}</span>
                    </div>
                  </td>

                  <td class="calendar-table__column">
                    <div class="calendar-table__event-title">{{ agenda.legislative_body_alias }} | {{ agenda.location }}</div>
                    <div class="calendar-table__hour">
                      {% if agenda.date|date:"H" == "00" %}
                        Horário não informado
                      {% else %}
                        {{ agenda.date|date:"H"}}h{{ agenda.date|date:"i"}}
                      {% endif %}
                    </div>
                  </td>
                  <td class="calendar-table__column">
                    <div class="calendar-table__event-title"><a href="{{agenda.get_absolute_url}}">Ir para a sala &gt;</a></div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock main %}

{% block websockets %}
  {% compress js %}
    <script type="text/es6" src="{% static 'js/pages/index.js' %}"></script>
  {% endcompress %}
{% endblock %}
