{% load compress %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta property="og:url" content="{{request.scheme}}://{{domain}}{% url 'question_detail' pk=object.id%}" />
    <meta property="og:title" content="Apoie essa pergunta! {{object.question}}" />
    <meta property="og:site_name" content="Audiências Públicas" />
    <meta property="og:description" content="As perguntas que receberem mais votos serão respondidas pelos deputados na Audiência Pública que está acontecendo agora. Participe!" />
    <meta property="og:image" content="{{request.scheme}}://{{domain}}{% static 'img/share-image.jpg' %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="300" />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <script>window.location.replace("{% url 'video_room' pk=object.video.id %}");</script>
  </body>
</html>
