{% load staticfiles compress video_utils %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Relatório | {% if object.reunion_theme %}{{object.reunion_theme}}{% else %}{{object.title_reunion}}{% endif %}</title>
  <link rel="stylesheet" href="{% static 'fontastic-labhacker/styles.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'scss/report.scss' %}" type="text/x-scss" />
  {% endcompress %}
</head>
<body>
  <div class="report">
    <div class="report__header">
      <img class="header__logo" src="{% static "/img/logo-audiencias-icon.svg" %}">
      <div class="header__info">
        <h1 class="info__title">
            {% if object.reunion_theme %}
              {{object.reunion_theme}}
            {% else %}
              {{object.title_reunion}}
            {% endif %}</h1>
        <p class="info__date">{{object.legislative_body_initials}} - {{object.legislative_body}}</p>
        <p class="info__date">{{object.reunion_type}} realizada em {{object.date}}</p>
      </div>
    </div>

    <div class="report__summary">
      <div class="room__stats">
        <i class="stats__icon icon icon-question"></i>
        <span class="stats__number">{{object.questions.all.count}}</span>
        <span class="stats__text">Perguntas</span>
      </div>
      <div class="room__stats">
        <i class="stats__icon icon icon-comments"></i>
        <span class="stats__number">{{object.messages.all.count}}</span>
        <span class="stats__text">Mensagens</span>
      </div>
      <div class="room__stats">
        <i class="stats__icon icon icon-users"></i>
        <span class="stats__number">{{object.max_online_users}}</span>
        <span class="stats__text">Online Simultaneamente</span>
      </div>
    </div>

    <div class="report__section--question">
      <h1 class="section__title">Perguntas</h1>
      <ul class="section__question-list">
        {% for question in questions %}
          <li class="question-list__item">
            <div class="item__votes">
              <span class="votes__number">{{question.votes.all.count}}</span>
              <span class="votes__text">votos</span>
            </div>
            <div class="item__question">
              <p class="question__author">Enviada por <span class="author__username">{{question.user}}</span>, às {{question.created|time:"H:i"}}</p>
              <p class="question__text">{{question.question}}</p>
              {% if question.answer_time %}
                <p class="question__answer">Respondida em {{question.answer_time|format_seconds}}</p>
              {% endif %}
            </div>
          </li>
        {% empty %}
          <li class="question-list__item">
            <p class="question__text">Não houve perguntas nesta reunião.</p>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="report__section--chat">
      <h1 class="section__title">Bate-Papo</h1>
      <ul class="section__chat-list">
        {% for message in messages %}
          <li class="chat-list__item">
            <span class="item__message-time">{{message.created|time:"H:i"}}</span>
            <div class="item__chat-message">
              <span class="chat-message__author">{{message.user}}:</span>
              <span class="chat-message__text">{{message.message}}</span>
            </div>
          </li>
        {% empty %}
          <li class="chat-list__item">
            <p class="chat-message__text">Não houve mensagens nesta reunião.</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>
