{% extends "components/base.html" %}
{% load staticfiles compress %}

{% block navigation %}
{% endblock navigation %}

{% block main %}
  <main class="room-questions">
    <h1 class="room-questions__title">Perguntas</h1>
    <h2 class="room-questions__video-info">
      <i class="video-info__icon icon icon-circle live-blink"></i>
      <a class="video-info__text" href="{% url 'video_room' pk=object.id %}">{{object.legislative_body_alias}}</a>
    </h2>

    <ul class="room-questions__list" id="questions">
      {% if questions %}
        {% for question in questions %}
          {% include "includes/question_card.html" with page="question-panel" %}
        {% endfor %}
      {% else %}
        <p class="room-questions__empty">Nenhuma pergunta foi feita ainda.</p>
      {% endif %}
    </ul>
  </main>
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'mixitup/build/jquery.mixitup.min.js' %}"></script>
{% endblock extra_js %}

{% block olark  %}
{% endblock %}

{% if object.youtube_status != 2 %}
  {% block websockets %}
    {% compress js %}
      <script type="text/es6" src="{% static 'js/pages/questions-panel.js' %}"></script>
    {% endcompress %}
  {% endblock %}
{% endif %}
