{% extends "components/base.html" %}
{% load staticfiles %}

{% block navigation %}
{% endblock navigation %}

{% block main %}
  <div class="room-questions">

    <h1 class="room-questions__title">Perguntas</h1>
    <h2 class="room-questions__video-info">
      <i class="video-info__icon icon icon-circle live-blink"></i>
      <a class="video-info__text" href="{% url 'video_room' pk=object.id %}">{{object.title}}</a>
    </h2>

    {% if questions %}
      <ul class="room-questions__list" id="questions">
        {% for question in questions %}
          {% include "includes/room_question.html" with questions=questions %}
        {% endfor %}
      </ul>
    {% else %}
      <p class="room-questions__empty">Nenhuma pergunta foi feita ainda.</p>
    {% endif %}

  </div>
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'mixitup/build/jquery.mixitup.min.js' %}"></script>
{% endblock extra_js %}

{% block olark  %}
{% endblock %}

{% if not object.closed_date %}
  {% block websockets %}
    <script type="text/javascript" src="{% static 'js/websockets/room_questions.js' %}"></script>
  {% endblock %}
{% endif %}
