{% extends "components/base.html" %}
{% load staticfiles %}

{% block navigation %}
{% endblock navigation %}

{% block main %}

        <section class="section section--questions">


          <div class="row expanded">

            <div class="section__block section__block--questions-room">
              <div class="questions--room">
                <h1 class="questions__title">Perguntas</h1>

                <div class="video__info video__info--questions-room">
                  <h2 class="info__title">
                    <i class="info__live-icon icon icon-circle live-blink"></i>
                    <a class="info__title-text info__title-text--link" href="#">DIREITOS HUMANOS E MINORIAS - OUTRO EVENTO - 01/11/2016 - 15:42</a>
                  </h2>
                </div>

                <ul class="questions__list" id="questions">
                  {% for question in questions %}
                    {% include "includes/room_question.html" with questions=questions %}
                  {% empty %}
                    <div class="questions__empty">
                      <p class="questions__empty-message">Nenhuma pergunta foi feita ainda.</p>
                    </div>
                  {% endfor %}
                </ul>

              </div>
            </div>

          </div>


        </section>
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block extra_js %}

  <script type="text/javascript" src="{% static 'mixitup/build/jquery.mixitup.min.js' %}"></script>


{% endblock extra_js %}

{% if not object.closed_date %}
    {% block websockets %}
        <script>
          var HANDLER = "{{handler|default:''}}";

          function loginRedirect() {
            var next = "{{request.path}}";
            var login_url = "{% url 'login' %}";
            document.location.href = `${login_url}?next=${next}`;
          }
        </script>
        <script type="text/javascript" src="{% static 'js/websockets/chat.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/websockets/questions.js' %}"></script>
    {% endblock %}
{% endif %}
