{% extends "components/base.html" %}
{% load staticfiles %}

{% block title %}Audiências Passadas{% endblock %}

{% block main %}
  <main class="video-list">
    <div class="preview--video-list">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-play"></i>
        <h2 class="header__title">Veja Audiências Que Já Aconteceram</h2>
<!--         <form method="GET" action="{% url 'video_list' %}">
          <input type="text" name="q">
          <input type="text" name="initial-date">
          <inputtype="text" name="end-date">
          <button type="submit">Enviar</button>
        </form> -->
      </div>

      <div class="preview__list-wrapper">
        <ul class="preview__list">
          {% for room in object_list %}
            {% include "includes/home_video.html" with room=room %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
{% endblock main %}
