html {
  height: 100%
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 4em;
  @include breakpoint(small only) {
    padding-top: 3em;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
}
