html {
  height: 100%
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  padding-top: 4rem;
  @include breakpoint(small only) {
    padding-top: 3rem;
  }
}

main {
  flex: 1 0 auto;
}
