.questions {
  margin: 0;
  margin-bottom: 1em;
  list-style: none;

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: '';
      background-color: #fbc707;
      display: flex;
      flex: 1;height: 0.8em;
      margin-top: 0.1em;
      margin-left: 1em;
    }
  }

  &__description {
    color: white;
    font-weight: 400;
  }

  &__item {
    display: flex;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__question-block {
    flex: 1;
    margin-left: 1em;
    padding: 0.75em;
    background-color: white;
  }

  &__vote-block {
    display: flex;
    flex-basis: 6em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .vote-block__upvote-link {
      color: #09a67c;
      display: inline-flex;
      font-size: 1.6em;
    }

    .vote-block__total-votes {
      color: #09a67c;
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: 0.5em;

      &.voted {
        color: #fbc707;
      }

      &.disabled {
        color: #09a67c;
      }
    }

    .vote-block__upvote-button {
      color: white;
      font-size: 0.7em;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-flex;
      justify-content: center;
      min-height: 2.1em;
      width: 100%;
      padding: 0.3em;
      border: 1px solid #09a67c;
      border-radius: 1em;
      transition: all $swift-out 0.25s;

      &:hover, &:focus {
        background-color: #09a67c;
        border-color: #09a67c;
        outline: none;
      }

      &.voted {
        border-color: #fbc707;

        &:hover {
          border-color: #09a67c;
        }
      }

      &.disabled {
        border-color: #999999;
        color: #999999;
        cursor: default;

        &:hover, &:focus {
          background-color: transparent;
          border-color: #999999;
        }
      }
    }

    .vote-block__vote-label {
      color: #09a67c;
      font-weight: 700;
    }
  }

  &__user-question {
    margin-bottom: 0.5em;
  }

  &__user-name {
    font-weight: 700;
  }

  &__timestamp {
    font-size: 0.7em;
    font-weight: 400;
    color: #737373;
  }

  &__user-info {
    margin-bottom: 0.5em;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__empty-icon {
    margin: 2.2em;
  }

  &__empty-message {
    font-size: 1.5em;
    font-weight: 600;
    color: hsl(158, 42%, 24%);
  }

}

.questions--room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 1em);
  margin: 0;

  .questions {

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      height: auto;
      margin: 0 -0.5em;
    }

    &__item {
      flex: 0 0 auto;
      width: 50%;
      padding: 0 0.5em;

      &:last-child {
        margin-bottom: 1em;
      }
    }

    &__vote-block {
      background-color: #09a67c;

      .vote-block__total-votes {
        color: white;
      }

      .vote-block__vote-label {
        color: white;
      }
    }

    &__question-block {
      margin-left: 0;
    }

  }

}
