.video-list-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 2em;
  padding: 0 0.5em;
}

.video-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;

  &__item {
    list-style: none;
    max-width: 208px;
    margin: 0 0.5em;
  }

  &__video-link {
    display: block;
    margin-bottom: 0.25em;
  }

  &__thumbnail {
    width: 208px;
    height: 116px;
    background: #525252;
  }

  &__title {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
    @include breakpoint(small only) {
      font-size: 0.9em
    }


    .title__link {
      color: #3798c8;

      &:hover {
        text-decoration: underline;
      }
    }

    .title__icon-wrapper {
      display: inline-flex;
      vertical-align: middle;
    }

    .title__icon--live {
      font-size: 0.5em;
      color: #ff3333;
    }
  }
}