.questions {
  margin: 0;
  margin-bottom: 1em;
  list-style: none;

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      content: '';
      background-color: #fbc707;
      display: flex;
      flex: 1;height: 0.8em;
      margin-top: 0.1em;
      margin-left: 1em;
    }

    &:target {
      background-color: red;
    }
  }

  &__description {
    color: white;
    font-weight: 400;
  }

  &__item {
    position: relative;
    display: flex;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(small only) {
      flex-direction: column-reverse;
    }
  }

  &__anchor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -6em;

    &::before {
      content: '';
      position: absolute;
      top: 5.5em;
      left: -0.5em;
      width: calc(100% + 1em);
      height: calc(100% + 1em);
      border-radius: 5px;
      background-color: white;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }

    &:target::before {

      @keyframes highlight {
        0% {opacity:0.9; z-index: 1}
        99.9% {opacity:0.1; z-index: 1}
        100% {opacity:0.1; z-index: 0;}
      }
      animation: highlight 3.5s 1s forwards;

    }
  }

  &__question-block {
    position: relative;
    flex: 1;
    margin-left: 1em;
    padding: 0.75em;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    @include breakpoint(small only) {
      margin: 0;
    }
  }

  &__share-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
    color: #666666;
    @include transition-default(all);

    @include breakpoint(large up) {
      transform: translateX(100%);
    }

    &:hover {
      color: black;
    }

    .questions__question-block:hover & {
      transform: translateX(0);
    }
  }

  &__share-list {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    background-color: white;
    width: 100%;
    height: 3em;
    transform: translateY(-100%);
    @include transition-default(transform);

    &.active {
      transform: translateY(0);
    }
  }

  &__share-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    @include transition-default(background-color);

    &--facebook {
      background-color: $facebook-color;
      &:hover {
        background-color: darken($facebook-color, 10%);
      }
    }

    &--twitter {
      background-color: $twitter-color;
      &:hover {
        background-color: darken($twitter-color, 10%);
      }
    }

    &--whatsapp {
      background-color: $whatsapp-color;
      &:hover {
        background-color: darken($whatsapp-color, 10%);
      }
    }
  }

  &__share-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    color: white;
    font-size: 1em;

    &:hover {
      color: white;
    }
  }

  &__share-close {
    display: flex;
    flex-basis: 3em;
    align-items: center;
    height: 100%;
    justify-content: center;
    background-color: #8c8c8c;
    color: white;
    cursor: pointer;
  }

  &__vote-block {
    position: relative;
    display: flex;
    flex-basis: 6em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(small only) {
      flex-direction: row;
      flex-basis: 2em;
      background-color: #133837;
    }

    .vote-block__upvote-link {
      color: #09a67c;
      display: inline-flex;
      font-size: 1.6em;
    }

    .vote-block__total-votes {
      color: #09a67c;
      font-weight: 700;
      font-size: 1.2em;
      margin-bottom: 0.5em;

      @include breakpoint(small only) {
        width: auto;
        flex: 0.5 1 0%;
        margin: 0;
        text-align: center;
      }

      &.voted {
        color: #fbc707;
      }

      &.disabled {
        color: #09a67c;
      }
    }

    .vote-block__upvote-button {
      color: white;
      font-size: 0.7em;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-flex;
      justify-content: center;
      min-height: 2.1em;
      width: 100%;
      padding: 0.3em;
      border: 1px solid #09a67c;
      border-radius: 1em;
      transition: all $swift-out 0.25s;

      @include breakpoint(small only) {
        width: auto;
        flex: 1 1 0%;
        border: none;
        border-radius: 0;
        background-color: #09a67c;
      }

      &:hover, &:focus {
        background-color: #09a67c;
        border-color: #09a67c;
        outline: none;
      }

      &.voted {
        border-color: #fbc707;

        @include breakpoint(small only) {
          background-color: #fbc707;
          color: #133837;
        }

        &:hover {
          border-color: #09a67c;
        }
      }

      &.disabled {
        border-color: #999999;
        color: #999999;
        cursor: default;

        @include breakpoint(small only) {
          background-color: #737373;
          color: #cccccc;
        }

        &:hover, &:focus {
          background-color: transparent;
          border-color: #999999;

          @include breakpoint(small only) {
            background-color: #737373;
            color: #cccccc;
          }
        }
      }
    }

    .vote-block__vote-label {
      color: #09a67c;
      font-weight: 700;
    }
  }

  &__user-question {
    margin-bottom: 0.5em;
  }

  &__user-name {
    font-weight: 700;
  }

  &__timestamp {
    font-size: 0.7em;
    font-weight: 400;
    color: #737373;
  }

  &__user-info {
    margin-bottom: 0.5em;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__empty-icon {
    margin: 2.2em;
  }

  &__empty-message {
    font-size: 1.5em;
    font-weight: 600;
    color: hsl(158, 42%, 24%);
  }

}

.questions--room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 1em);
  margin: 0;

  @include breakpoint(medium down) {
    height: auto;
  }


  .questions {

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1;
      height: auto;
      margin: 0 -0.5em;
    }

    &__item {
      flex: 0 0 auto;
      width: 50%;
      padding: 0 0.5em;

      @include breakpoint(medium down) {
        width: 100%;
      }

      @include breakpoint(small only) {
        flex-direction: column-reverse;
      }

      &:last-child {
        margin-bottom: 1em;
      }

    }

    &__vote-block {
      background-color: #09a67c;

      @include breakpoint(large up) {
        font-size: 115%;
      }

      @include breakpoint(small down) {
        flex-basis: 2em;
        flex-direction: row;
      }

      .vote-block__total-votes {
        color: white;

        @include breakpoint(small down) {
          margin: 0;
          margin-right: 0.25em
        }
      }

      .vote-block__vote-label {
        color: white;
      }
    }

    &__question-block {
      margin-left: 0;
    }

    &__user-question {
      line-height: 1.4em;

      @include breakpoint(large up) {
        font-weight: 400;
      }
    }

  }

}
