.navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: $primary-color;
  height: 4em;
  padding: 0 2.5em;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  z-index: 10000;
  transition: transform $swift-out 0.3s;
  @media screen and (max-width: 39.9375em) {
    height: 3em;
    padding: 0 0.5em;
  }

  .logo--navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    opacity: 1;
    @include transition-default(opacity);
  }

  .logo--navigation .logo__image {
    height: 2.5em;

    @media screen and (max-width: 39.9375em) {
      height: 1.8em;
    }
  }

  .logo__name--audiencias .logo__image {
    height: 1.5em;
    margin-left: 0.8em;

    @media screen and (max-width: 39.9375em) {
      height: 1.25em;
    }
  }

  .logo--menu-list .logo__image {
    height: 1.75em;
  }

  &--hidden {
    transform: translateY(-100%)
  }
}

.menu-list {
  display: flex;
  align-self: stretch;
  list-style: none;
  margin: 0;
  @include transition-default(background-color);

  &:hover, &.toggled {
    background-color: darken(#092b2a,3%);

    @media screen and (max-width: 39.9375em) {
      background-color: transparent;
    }
  }

  &__icon {
    font-size: 1.4em;
    color: white;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4em;
    @include transition-default(background-color);
    cursor: pointer;

    &:hover {
      background-color: darken(#092b2a,3%);
    }

    @media screen and (max-width: 39.9375em) {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: 600;
    padding: 0.75em;
    color: white;

    &:hover {
      color: white;
    }

    @media screen and (max-width: 39.9375em) {
      justify-content: flex-start;
    }
  }

  &__text {
    margin-right: 1em;
    color: white;
  }
}

@include breakpoint(small only) {
  padding: 2rem 0;
}