.button {
  font-weight: 600;

  &--facebook {
    background-color: $facebook-color;

    &:hover, & > .button--social__icon {
      background-color: darken($facebook-color, 5%);
    }
  }

  &--google-plus {
    background-color: $google-color;

    &:hover, & > .button--social__icon {
      background-color: darken($google-color, 5%);
    }
  }

  &--social {
    position: relative;
    border: 0;

    & > &__icon, & > &__label {
      display: inline-block;
      vertical-align: middle;
    }

    & > &__icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 2.5em;
      height: 100%;
      font-size: 1.2em;
      line-height: 2.8em;
    }

    &__label {
      width: 100%;
      text-align: center;
      padding-left: 2.8em;
    }
  }

  &--profile {
    width: 100%;
    margin: 0 0.5em;
  }

  &--type-override {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin: 0;
  }

  &--label-override {
    word-break: break-all;
    vertical-align: top !important;
    margin: 0 0 1em 0 !important;
    // Damn you Foundation for making me use !important :(
  }

}

.show-all {
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid #cccccc;

  &--video-list {
    margin: 0 3em;
  }

  &__button {
    font-weight: 600;
    font-size: 0.9em;
    color: hsla(0,0%,40%,1);
    text-transform: uppercase;

    &:hover {
      color: black;
    }
  }
}