.navigation {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background: $primary-color;
  height: 4em;
  padding: 0 2.5em;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  z-index: 10000;
  transition: transform $swift-out 0.3s;
  @media screen and (max-width: 39.9375em) {
    height: 3em;
    padding: 0;
  }

  .logo--navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    opacity: 1;
    @include transition-default(opacity);
  }

  .logo--navigation .logo__image {
    height: 2.5em;

    @media screen and (max-width: 39.9375em) {
      height: 1.8em;
    }
  }

  .logo__name--audiencias .logo__image {
    height: 1.5em;
    margin-left: 0.8em;

    @media screen and (max-width: 39.9375em) {
      height: 1.25em;
    }
  }

  .logo--menu-list .logo__image {
    height: 1.75em;
  }

  &--hidden {
    transform: translateY(-100%)
  }
}