.chat-wrapper {
  position: relative;
  overflow-y: hidden;
  margin-top: -2.8em;
}

.chat {

  &__list {
    flex-direction: column;
    list-style: none;
    height: 30em;
    overflow-y: scroll;
    word-break: break-word;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 2.3em;
    @include breakpoint(small only) {
      height: 20em;
    }
  }

  &__item {
    padding: 0.5em 1em;
  }

  &__item:nth-child(odd) {
    background-color: #fafafa;
  }

  &__user-name {
    font-weight: 700;
  }

  &__colon {
    margin-left: -0.2em;
  }

  &__timestamp {
    font-size: 0.7em;
    font-weight: 400;
    color: #737373;
    word-break: break-word;
  }

  &__read-more {
    position: absolute;
    bottom: 0;
    background-color: rgba(9,166,124,0.85);
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    @include transition-default(transform);

    &:hover {
      text-decoration: underline;
    }

    &--hidden {
      transform: translateY(100%);
    }
  }
}