.hovering-block {
  width: 100%;
  background-color: white;
  margin-top: 1em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 2em);
    color: white;
    padding: 0.4em 1.4em;
    margin: 0 auto;
    background-color: #235643;
    transform: translateY(-50%);
    z-index: 1;
    @include material-shadow(1);

    &--live {
      background-color: #1d694f;
    }

    &--closed-videos {
      background-color: #11496c;
    }
    &--calendar {
      background-color: #092b2a;
    }

    .header__title {
      font-size: 1.3em;
      font-weight: 700;
      margin: 0;
      margin-left: 0.5em;
      text-transform: uppercase;
      @include breakpoint(small only) {
        font-size: 0.9em
      }
    }

    .header__icon-wrapper {
      display: inline-flex;
      padding: 0.4em;
      border: 0.2em solid;
      border-color: white;
      border-radius: 50%;
      font-size: 0.9em;
      @include breakpoint(small only) {
        font-size: 0.7em
      }

      &--live {
        border-color: transparent;
      }
    }

    .header__icon {
      &--live {
        color: #ff3333;
      }

      &--closed-videos {
        transform: translateX(10%);
      }
    }
  }
}
