.calendar-table {
  margin-bottom: 0;
  font-size: 1.2em;

  &__body {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  &__column {

    padding-top: 1em;
    padding-bottom: 1em;

    &:first-child {
      font-weight: 600;
      padding-left: 3em;
    }
    &:last-child {
      padding-right: 3em;
    }
  }
}