.calendar-table {
  margin-bottom: 0;
  font-size: 1.2em;

  &__body {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  &__column {

    padding-top: 0.7em;
    padding-bottom: 0.6em;

    &:first-child {
      font-weight: 600;
      padding-left: 3em;
    }
    &:last-child {
      padding-right: 3em;
    }
  }

  &__event-title {
    font-weight: 400;
  }

  &__date-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4em;
  }

  &__weekday {
    font-size: 0.5em;
    font-weight: 600;
    background-color: #2974a3;
    color: white;
    padding: 0.3em 0;
    min-width: 6.5em;
    text-align: center;
    border-radius: 1em;
    text-transform: uppercase;

    &--today {
      background-color: #d75142;
    }

    &--tomorrow {
      background-color: #eea32b;
    }
  }

  &__day {
    color: #404040;
    font-weight: 700;
  }

  &__month {
    font-size: 0.8em;
    font-weight: 400;
    color: #404040;
  }

  &__hour {
    font-size: 0.9em;
    margin-top: 0.3em;
    font-weight: 600;
  }
}