.section {
  &:last-child {
    flex: 1;
  }

  &__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    @include breakpoint(small only) {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    &--title {
      padding-bottom: 0;
    }

    &--hero {
      height: calc(70vh - 4rem);
      min-height: 22rem;
    }

    &--video-frame {
      width: 100%;
      background-color: $secondary-color;
    }

    &--chat {
      background-color: #d5d5d5;
    }

    &--questions {
      height: 100%;
      background-color: #082827;
    }

    &--full-bg-left {
      @include breakpoint(large) {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 100vw;
          height: 100%;
          background-color: inherit;
          z-index: -1;
        }
      }
    }

    &--full-bg-right {
      @include breakpoint(large) {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100vw;
          height: 100%;
          background-color: inherit;
          z-index: -1;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
  }


  &__content-wrapper {
    width: 100%;

    &--center {
      margin: auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__logo {
    max-width: 100%;
    width: 12rem;
    margin-bottom: 2rem;
    @include breakpoint(small only) {
      width: 12rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 700;
    @include breakpoint(small only) {
      font-size: 1.2rem;
    }
  }

  &__link {
    @include transition-default(color);
  }

  &__title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-indent: -0.2rem;
    width: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30rem;
      max-width: 90%;
      height: 0.7rem;
      @include breakpoint(small only) {
        margin: auto;
        right: 0;
      }
    }

    @include breakpoint(small only) {
      text-align: center;
      font-size: 2.4rem;
    }
  }

  &__caption {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.section--home{
  background: linear-gradient(45deg, $secondary-color 0%, $primary-color 100%);

  & .section__logo {
    width: 28rem;
  }

  & .section__text {
    color: white;
    font-size: 1.6rem;
    max-width: 30rem;
  }

  & .section__title {
    &::before {
      background-color: #f8c300;
    }
  }

  & .section__link {
    color: white;
  }
}

.section--videos {
  padding: 2rem 0;
  background-color: #e6e6e6;
}

.section--auth {
  background: #f6f6f6;

  & .section__title {
    color: #082524;
    border-bottom: 0.5rem solid #11496c;
  }

  & .section__text {
    &--signup {
      font-weight: 500;
    }
  }

  & .form {
    width: 100%;
  }

  & .section__link {
    color: #11496c;
    font-weight: bold;

    &--signup {
      color: #f8c300;
    }
  }

  & .section__block {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &--social {
      padding-top: 1rem;
      margin-top: 1rem;
      border-top: 1px solid #dddddd;
    }

    &--error {
      background: #ededed;
      padding: 1rem;
      margin-bottom: 1rem;
      ul {
        list-style-type: none;
        margin: 0;
      }
    }
  }
}


