.video {
  width: 100%;

  &__embed-wrapper {
    width: 100%;
  }

  &__info {
    color: white;
    text-transform: uppercase;

    .info__heading {
      font-size: 1.4rem;
      font-weight: 700;
    }

    .info__title {
      font-size: 1rem;
      font-weight: 400;
      vertical-align: text-top;
      margin-bottom: 0;
    }

    .info__live-icon {
      font-size: 0.7rem;
      color: #ff3333;
    }
  }
}
