#habla_topbar_div.hbl_pal_title_bg {
  background-color: #235643 !important;
}

.hbl_panel #habla_offline_submit_input.hbl_pal_offline_submit_bg {
  background-color: $color-primary-xxlight !important;
  padding: 0.8em 0;
  width: 100% !important;
  margin: 0.5em 0 0!important;
}

#habla_beta_container_do_not_rely_on_div_classes_or_names {
  z-index: 999 !important;

  @include breakpoint(large down) {
    display: none;
  }
}
