// Foundation
@import 'foundation/foundation-includes';

// Ambience
@import 'ambience/animation';
@import 'ambience/colors';
@import 'ambience/fonts';

// Base
@import 'base/globals';
@import 'base/reset';
@import 'base/icons';
@import 'base/reusables';

// Shared
@import 'shared/floating-header';
@import 'shared/question-block';
@import 'shared/send-form';

// Pages
@import 'pages/home';
@import 'pages/registration';
@import 'pages/room-questions-list';
@import 'pages/room';
@import 'pages/video-list';
@import 'pages/widget';

// Components
@import 'components/ie-banner';
@import 'components/banner';
@import 'components/calendar-table';
@import 'components/chat';
@import 'components/footer';
@import 'components/hamburger';
@import 'components/navigation';
@import 'components/preview';
@import 'components/questions';
@import 'components/registration-form';
@import 'components/tabs-nav';
@import 'components/video';
// RSCSS/BEM components
@import 'components/question-actions';
// RSCSS components
@import 'components/question-card';

// Overrides
@import 'overrides/olark';
