// Foundation
@import 'foundation/foundation-includes';

// Ambience
@import 'ambience/animation';
@import 'ambience/colors';
@import 'ambience/fonts';

// Base
@import 'base/globals';

// Shared
@import 'shared/floating-header';
@import 'shared/question-block';
@import 'shared/send-form';

// Pages
@import 'pages/home';
@import 'pages/registration';
@import 'pages/room-questions-list';
@import 'pages/room';
@import 'pages/video-list';

// Components
@import 'components/banner';
@import 'components/calendar-table';
@import 'components/chat';
@import 'components/footer';
@import 'components/navigation';
@import 'components/preview';
@import 'components/questions';
@import 'components/registration-form';
@import 'components/tabs-nav';
@import 'components/video';

// Overrides
@import 'overrides/olark';
