{% load compress %}
{% load static from staticfiles %}

<!DOCTYPE html>
{% block html %}
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      {% block metadata %}
      {% endblock metadata %}

      {# Title #}
      <title>
        {% block title %}Audiências Públicas{% endblock title%}
      </title>

      {# Favicon #}
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
      <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
      <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
      <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#1d694f">
      <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
      <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
      <meta name="theme-color" content="#1d694f">

      {# Styles #}
      <link rel="stylesheet" href="{% static 'fontastic-labhacker/styles.css' %}" />
      {% compress css %}
        <link rel="stylesheet" href="{% static 'scss/app.scss' %}" type="text/x-scss" />
      {% endcompress %}

    </head>
    {% if 'sala' in request.path  %}
    <body class="room-body">
    {% else %}
    <body class="{{no_offset_top}}">
    {% endif %}

    {# Navigation #}
    {% block navigation %}
      {% include "components/navigation.html" %}
    {% endblock navigation %}

    {# Main Content #}
    {% block main %}
    {% endblock main %}

    {# Footer #}
    {% block footer %}
      {% include "components/footer.html" %}
    {% endblock footer %}

    {# Scripts #}
    {% block foot_js %}
      <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/foundation.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/svg-support.js' %}"></script>
    {% endblock foot_js %}

    {% block olark  %}
      <script type="text/javascript" src="{% static 'js/olark.js' %}"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock extra_js %}
    {% block websockets %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70690943-5', 'auto');
      ga('send', 'pageview');

    </script>
    </body>
  </html>
{% endblock html %}
