{% load compress %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block extrameta %}
    {% endblock %}
    <title>{% block title %}Audiências Públicas{% endblock %}</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'scss/app.scss' %}" type="text/x-scss" />
    {% endcompress %}
    {% block extracss %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'reconnectingWebsocket/reconnecting-websocket.min.js' %}"></script>

    {% block websockets %}
    {% endblock %}
    {% block extrajs %}
    {% endblock %}
</body>
</html>