{% load staticfiles %}

<div class="edem-topbar">

  <div class="stick">
    <a class="brand" href="#">
      <img class="rainbow -large" src="{% static 'img/edem/edem-bar-rainbow-large.png' %}" alt="Cores do e-Democracia">
      <img class="rainbow -small" src="{% static 'img/edem/edem-bar-rainbow-small.png' %}" alt="Cores do e-Democracia">
      <img class="logo" src="{% static 'img/edem/edem-logo-text.svg' %}" alt="e-Democracia Beta">
    </a>

    <nav class="actions">
      <a class="link" href="#">Fale conosco</a>
      <a class="link" href="#">Entrar</a>
      <a class="link -highlight" href="#">Cadastrar</a>
    </nav>
  </div>

</div>
