
{% load staticfiles %}

<div class="edem-navigation">

  <div class="c-hamburger c-hamburger--htx show-for-small-only">
    <span>Menu</span>
  </div>

  <a class="logo logo--navigation" href="/home/">
    <div class="logo__icon logo__icon--edemocracia">
      <img class="logo__image" src="{% static 'img/edem-logo.png' %}">
    </div>
    <div class="logo__name logo__name--edemocracia">
      <img class="logo__image" src="{% static 'img/edem-logo-text-title.png' %}">
    </div>
  </a>

  <form action="/search/" method="GET" role="search" class="search-form search-form--navigation" title="Pesquisar">
    <input name="q" value="{{ request.GET.q }}" class="search-form__input" type="text" placeholder="Pesquisar">
    <span class="search-form__icon">
      <span class="show-for-sr">Pesquisar</span>
      <i class="search-form__search-icon icon icon-search" aria-hidden="true"></i>
    </span>
  </form>

  <div class="navigation-wrapper">

    <ul class="menu-list menu-list--dropdown menu-list--apps" title="Ferramentas">
      <span class="show-for-sr">Ferramentas</span>
      <i class="menu-list__icon icon icon-th" aria-hidden="true"></i>
      <div class="menu-list--dropdown__wrapper">
        <li class="menu-list__item">
          <a class="menu-list__link" href="/expressao/" title="Opine em temas que te afetam como cidadão">
            <div class="logo logo--menu-list">
              <div class="logo__icon--discourse">
                <img class="logo__image" src="{% static 'img/logo-expressao-image.svg' %}" data-fallback="{% static 'img/logo-expressao-image.png' %}">
              </div>
            </div>
            <span class="menu-list__text">Expressão</span>
          </a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="/wikilegis/" title="Participe em Projetos de Lei">
            <div class="logo logo--menu-list">
              <div class="logo__icon--wikilegis">
                <img class="logo__image" src="{% static 'img/logo-wikilegis-icon.svg' %}">
              </div>
            </div>
            <span class="menu-list__text">Wikilegis</span>
          </a>
        </li>
      </div>
    </ul>


    {% if user.is_authenticated %}

      <ul class="menu-list menu-list--dropdown menu-list--profile" title="Perfil de Usuário">
        {% if user.profile.avatar_url %}
        <div class="user-profile" style="background-image: url('{{ user.profile.avatar_url }}')">
        </div>
        {% else %}
        <div class="user-profile">
          <i class="icon icon-user" aria-hidden="true"></i>
        </div>
        {% endif %}
        <div class="menu-list--dropdown__wrapper">
          <li class="menu-list__item">
            <a class="menu-list__link" href="/profile/">
              <span class="menu-list__text">Meu Perfil</span><i class="icon icon-user" aria-hidden="true"></i>
            </a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="/account/logout">
              <span class="menu-list__text">Encerrar Sessão</span><i class="icon icon-sign-out" aria-hidden="true"></i>
            </a>
          </li>
        </div>
      </ul>

    {% else %}

      <ul class="menu-list menu-list--profile">
        <li class="menu-list__item">
          <a class="menu-list__link" href="/home/?next={{ request.path }}" title="Fazer login">
            <span class="show-for-sr">Fazer login</span>
            <span class="hide-for-medium">Fazer login</span>
            <i class="menu-list__icon icon icon-sign-in show-for-small" aria-hidden="true"></i>
          </a>
        </li>
      </ul>

    {% endif %}
  </div>
</div>
