{% load staticfiles %}
<div class="footer__container row expanded">
  <div class="footer__logos columns small-12 large-6">
    <a class="footer__logo-wrapper" href="http://www.camara.leg.br">
      <img class="footer__logo image" src="{% static 'img/logo-camara.svg' %}" data-fallback="{% static 'img/logo-camara.png' %}" alt="Logo da Câmara dos Deputados">
    </a>
  
    <a class="footer__logo-wrapper" href="http://labhackercd.net">
      <img class="footer__logo image" src="{% static 'img/logo-labhacker.svg' %}" data-fallback="{% static 'img/logo-labhacker.png' %}" alt="Logo do Labhacker">
    </a>
  </div>
  
  <div class="footer__about columns small-12 large-6">
    <p class="footer__text">
      Mussum Ipsum, cacilds vidis litro abertis. Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Detraxit consequat et quo num tendi nada. Viva Forevis aptent taciti sociosqu ad litora torquent Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
      Diuretics paradis num copo é motivis de denguis.
  </div>
</div>
