{% load staticfiles %}

<a class="logo logo--navigation" href="{% url 'home' %}">
  <div class="logo__icon logo__icon--audiencias">
    <img class="logo__image" src="{% static 'img/logo-audiencias-icon.svg' %}" data-fallback="{% static 'img/logo-audiencias-icon.png' %}">
  </div>
  <div class="logo__name logo__name--audiencias show-for-medium">
    <img class="logo__image" src="{% static 'img/logo-audiencias-text.svg' %}" data-fallback="{% static 'img/logo-audiencias-text.png' %}">
  </div>
</a>



<ul class="menu-list menu-list--profile">
  <li class="menu-list__item">
    {% if user.is_authenticated %}
      <a class="menu-list__link" href="{% url 'logout' %}">
        <span class="menu-list__text">Encerrar Sessão</span>
        <i class="menu-list__icon icon icon-sign-out" aria-hidden="true"></i>
      </a>
    {% else %}
      <a class="menu-list__link" href="{% url 'login' %}">
        <span class="menu-list__text">Fazer Login</span>
        <i class="menu-list__icon icon icon-sign-in" aria-hidden="true"></i>
      </a>
    {% endif %}
  </li>
</ul>