$edem-color-primary: #002222;
$edem-color-accent: #114433;
$edem-color-secondary: #ffcc33;
$edem-color-link: #aadd88;
$edem-color-negative: #cc4433;
$edem-color-facebook: #3b5998;
$edem-color-google: #ffffff;
$edem-darken-active-value: 8%;
